 <div class="row">
 <div class="col-xl-12">
 <!-- Category Tabs -->
 <div class="d-flex align-items-center justify-content-between mb-3">
    <h6 class="fw-semibold mb-0">Category</h6>
    <a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a>
  </div>
  <div class="row pos-category">
    @for (category of categories; track $index) {
    <div class="col" (click)="filterByCategory(category)" >
      <div class="card custom-card" [ngClass]="{'active': selectedCategory === category.value}">
        <div class="card-body p-3">
          <a href="javascript:void(0);" class="stretched-link categories">
            <div class="text-center">
              <span class="avatar avatar-xl mb-3">
                @if (category.icon) {
                <div [innerHTML]="sanitizeIcon(category.icon)"></div>
                }
              </span>
              <div>
                <span class="fw-semibold">{{ category.label }}</span>
                <span class="fs-12 d-block fw-semibold text-muted">{{ category.count }} Books</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  }
  </div>
  </div>
  </div>
  <div class="d-flex align-items-center justify-content-between mb-3"> <h6 class="fw-semibold mb-0">Items List</h6> <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#pos-cart"> View Cart<i class="ti ti-arrow-narrow-right ms-1"></i> </a> </div>

  <div class="row list-wrapper">
    @for (book of filteredBooks; track $index) {
    <div class="col-xl-3">
      <div class="card custom-card" [ngClass]="{'out-of-stock': book.stock === 0}">
        <img [src]="book.image" class="card-img-top" alt="Book Image">
        <div class="card-body">
          <div class="mb-2">
            <a href="javascript:void(0);" class="fw-semibold fs-16">{{ book.title }}</a>
            <span class="fs-12 text-muted d-block">{{ book.category }}</span>
          </div>
          <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
            <div class="d-flex align-items-center gap-2">
              <h5 class="fw-semibold mb-0">{{ book.price | currency }}</h5>
              <span class="text-muted fs-13 text-decoration-line-through" *ngIf="book.oldPrice">{{ book.oldPrice | currency }}</span>
            </div>
            <div>
              <button type="button" class="btn btn-primary btn-sm" (click)="openRight(content)"  [disabled]="book.stock === 0" data-bs-toggle="offcanvas" data-bs-target="#pos-cart">
                <i class="ri-add-fill me-1"></i>Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
  </div>

  <!-- Start::offcanvas viewcart -->
<ng-template let-offcanvas #content>
  <div class="offcanvas-header border-bottom d-block p-0">
    <div class="d-flex align-items-center justify-content-between p-3">
        <h5 class="offcanvas-title text-default fw-semibold" id="offcanvasRightLabel1">Order Details <span class="badge bg-success-transparent ms-1 fs-12" id="cart-data1">0{{ cartItemCount }}</span></h5>
        <button type="button" class="btn-close p-0" data-bs-dismiss="offcanvas" aria-label="Close" (click)="offcanvas.close('cross click')"></button>
    </div>
</div>
<div class="offcanvas-body p-0">
    <ul class="list-group mb-0 border-0 rounded-0 pos-cart" (click)="handleCardClick($event)">
      @for(item of items;track $index){
        <li class="list-group-item border-top-0 border-start-0 border-end-0" id={{item.id}}>
            <div class="d-flex align-items-center flex-sm-nowrap flex-wrap">
                <div class="me-2 lh-1">
                    <span class="avatar avatar-xl bg-light">
                        <img [src]="item.src"  alt="">
                    </span>
                </div>
                <div class="ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 fw-semibold fs-14 text-truncate cart-title">{{item.name}}</p>
                        <p class="mb-0 text-end">
                            <a (click)="removeRow(item.id)" aria-label="anchor" href="javascript:void(0)">
                                <i class="ri-close-circle-line fs-16 text-danger"></i>
                            </a>
                        </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="product-quantity-container w-50">
                            <div class="input-group rounded flex-nowrap">
                                <button type="button" aria-label="button" class="btn btn-icon btn-light border product-quantity-minus border-end-0"  (click)="decreaseQuantity(item)"><i class="ri-subtract-line" ></i></button>
                                <input type="text" class="form-control form-control-sm border text-center" aria-label="quantity" id="product-quantity" value="2" [(ngModel)]=" item.quantity">
                                <button type="button" aria-label="button" class="btn btn-icon btn-light border product-quantity-plus border-start-0" (click)="increaseQuantity(item)"><i class="ri-add-line"></i></button>
                            </div>
                        </div>
                        <p class="mb-0 fs-20 fw-semibold">$3.99<span class="ms-1 text-muted fs-11 d-inline-block"><s>$4.99</s></span></p>
                    </div>
                </div>
            </div>
        </li>
      }
    </ul>
    <div class="p-3 border-bottom border-block-end-dashed">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="fs-12 fw-semibold bg-primary-transparent p-1 px-2 rounded">SPRUKO25</div>
            <div class="text-success">COUPON APPLIED</div>
        </div>
    </div>
    <div class="p-3 border-bottom border-block-end-dashed">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="text-muted">Sub Total</div>
            <div class="fw-semibold fs-14">$318</div>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="text-muted">Discount</div>
            <div class="fw-semibold fs-14">10% - $31.8</div>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="text-muted">Delivery Charges</div>
            <div class="fw-semibold fs-14">- $29</div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-muted">Service Tax (18%)</div>
            <div class="fw-semibold fs-14">- $45.29</div>
        </div>
    </div>
    <div class="p-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="fs-15">Total :</div>
            <div class="fw-semibold fs-16 text-dark"> $1,387</div>
        </div>
    </div>
</div>
<div class="offcanvas-footer px-4 py-3 border-top justify-content-between d-flex gap-3">
    <button type="button" class="btn btn-danger w-100">Cancel Order</button>
    <button type="button" class="btn btn-primary w-100">Place Order</button>
</div>
</ng-template>

<!-- End::offcanvas viewcart -->