 <!-- Start:: row-1 -->
 <div class="row">
    <div class="col-xxl-3 col-xl-12">
        <div class="card custom-card">
            <div class="card-body p-0">
                <div class="d-flex gap-3 align-items-center border-bottom p-3 flex-wrap">
                    <span class="avatar avatar-xl online p-1 bg-gray-300"><img
                            src="./assets/images/faces/14.jpg" alt="img"></span>
                    <div class="main-profile-info">
                        <h6 class="fw-semibold mb-1">Lucas Hayes</h6>
                        <p class="text-muted fs-11 mb-1">Ui Designer</p>
                        <p class="mb-0">lucashayes12&#64;mail.com </p>
                    </div>
                </div>
                <ul class="list-unstyled files-main-nav p-3 overflow-scroll" id="files-main-nav">
                    @for(item of filesMenu;track $index){
                    <li [class.active]="item.isActive" class="files-type">
                        <a href="javascript:void(0);">
                          <div class="d-flex align-items-center">
                            <div class="me-2">
                              <i [class]="item.icon + ' fs-16'"></i>
                            </div>
                            <span class="flex-fill text-nowrap">
                              {{ item.title }}
                            </span>
                            @if(item.badge){
                            <span class="badge bg-primary">{{ item.badge }}</span>
                            }
                          </div>
                        </a>
                      </li>
                    }
                    <li class="fs-12 text-muted ps-2 mb-2">Favourite Files</li>
                     @for(file of fileList;track $index){
                    <li>
                        <a href="javascript:void(0);" >
                          <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="d-flex align-items-center">
                              <span class="me-2 lh-1">
                                <i [class]="file.icon + ' fw-bold align-middle fs-10 fw-medium ' + file.iconColor"></i>
                              </span>
                              <span class="flex-fill text-nowrap">
                                {{ file.title }}
                              </span>
                            </div>
                            <div>
                              <span class="fs-12 text-muted">{{ file.size }}</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    }
                    <li class="fs-12 text-muted ps-2">Storage Used</li>
                    <li class="p-3 bg-light rounded mt-2">
                        <div class="d-flex align-items-start gap-3">
                            <div>
                                <span
                                    class="avatar avatar-md bg-success-transparent svg-success">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 256 256">
                                        <rect width="256" height="256" fill="none" />
                                        <ellipse cx="128" cy="80" rx="88" ry="48"
                                            opacity="0.2" />
                                        <ellipse cx="128" cy="80" rx="88" ry="48" fill="none"
                                            stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="16" />
                                        <path
                                            d="M40,80v48c0,26.51,39.4,48,88,48s88-21.49,88-48V80"
                                            fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="16" />
                                        <path
                                            d="M40,128v48c0,26.51,39.4,48,88,48s88-21.49,88-48V128"
                                            fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="16" />
                                    </svg>
                                </span>
                            </div>
                            <div class="flex-fill">
                                <div class=" mb-2">
                                    <p class="mb-0"><span class="fw-bold fs-14">69.42GB</span>
                                        Used</p>
                                    <p class="fs-12 text-muted mb-0">58% Used - 51.04Gb free</p>
                                </div>
                                <div class="progress progress-xs bg-gray-300">
                                    <div class="progress-bar bg-success progress-bar-animated progress-bar-striped"
                                        role="progressbar" style="width: 58%" aria-valuenow="58"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="filemanager-dropzone"> 
                    <label class="form-label">Drop File here
                        :</label>
                        <file-pond
                        #myPond
                        [options]="pondOptions"
                        class="blog-images"
                        [files]="pondFiles"
                        (oninit)="pondHandleInit()"
                        (onaddfile)="pondHandleAddFile($event)"
                        (onactivatefile)="pondHandleActivateFile($event)"
                        >
                      </file-pond>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body p-0">
                <div class="file-manager-folders">
                    <div
                        class="d-flex p-3 flex-wrap gap-2 align-items-center justify-content-between border-bottom">
                        <div class="flex-fill">
                            <h6 class="fw-medium mb-0">Folders</h6>
                        </div>
                        <div class="d-flex gap-2 flex-wrap justify-content-sm-end w-75">
                            <input class="form-control form-control-sm w-50" type="text"
                                placeholder="Search Here" aria-label=".form-control-sm example">
                            <a (click)="modalpopup(PopoversModal)"
                                class="btn btn-sm btn-primary btn-w-md d-flex align-items-center justify-content-center btn-wave waves-light"
                                data-bs-toggle="modal" data-bs-target="#create-folder">
                                <i class="ri-add-circle-line align-middle me-1"></i>Create Folder
                            </a>
                            <ng-template  #PopoversModal let-modal>
                                <div class="modal-header">
                                    <h6 class="modal-title" id="staticBackdropLabel">Create Folder
                                    </h6>
                                    <a (click)="modal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <label for="create-folder1" class="form-label">Folder Name</label>
                                    <input type="text" class="form-control" id="create-folder1" placeholder="Folder Name">
                                </div>
                                <div class="modal-footer">
                                    <a (click)="modal.dismiss('Cross click')" type="button" class="btn btn-sm btn-icon btn-light"
                                        data-bs-dismiss="modal"><i class="ri-close-fill"></i></a>
                                    <button type="button" class="btn btn-sm btn-success">Create</button>
                             
                       
                    </div>
                </ng-template>
                            <a (click)="modalpopup(PopoversModal)"
                                class="btn btn-sm btn-secondary btn-w-md d-flex align-items-center justify-content-center btn-wave waves-light"
                                data-bs-toggle="modal" data-bs-target="#create-file">
                                <i class="ri-add-circle-line align-middle me-1"></i>Create File
                            </a>
                        </div>
                    </div>
                    <div class="p-3 file-folders-container">
                        <div class="d-flex mb-3 align-items-center justify-content-between">
                            <p class="mb-0 fw-medium fs-14">Most Recent</p>
                            <a href="javascript:void(0);" class="fs-12 text-muted fw-medium"> View All<i
                                    class="ti ti-arrow-narrow-right ms-1"></i> </a>
                        </div>
                        <div class="row row-cols-xl-4 row-cols-md-2 row-cols-2 mb-0">
                            @for (item of MostRecent; track $index) {
                                <div class="col">
                                    <div class="card custom-card border shadow-none">
                                        <div class="card-body p-1">
                                            <span class="filestar"><i
                                                    class="ri-star-line fs-14 text-{{item.textcolor}}"></i></span>
                                            <div class="text-center">
                                                <div class="p-3 bg-light mb-2">
                                                    <div class="avatar avatar-lg bg-{{item.Bg}}-transparent border border-{{item.Bg}} svg-{{item.Bg}} border-opacity-10 mb-2"   [innerHTML]="sanitizeHtml(item.svg)">
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);"
                                                        class="d-block fw-medium">{{item.name}}</a>
                                                    <span class="fs-12 text-muted">{{item.date}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="d-flex mb-3 align-items-center justify-content-between">
                            <p class="mb-0 fw-medium fs-14">Folders</p>
                            <a href="javascript:void(0);" class="fs-12 text-muted fw-medium"> View All<i
                                    class="ti ti-arrow-narrow-right ms-1"></i> </a>
                        </div>
                        <div class="row row-cols-xl-4 row-cols-md-2 row-cols-2 mb-0">
                            @for (item of fileData; track $index) {
                            <div class="col">
                                <div class="card custom-card border shadow-none">
                                    <div class="card-body">
                                        <div
                                            class="mb-0 folder-svg-container d-flex flex-wrap align-items-center">
                                            <div class="svg-warning text-warning me-3 bg-light avatar avatar-lg border" [innerHTML]="sanitizeHtml(item.svg)">
                                            </div>
                                            <div>
                                                <p class="fs-14 fw-medium mb-1 lh-1">
                                                    <a href="javascript:void(0);">{{item.category}}</a>
                                                </p>
                                                <span class="text-muted fs-12">
                                                    {{item.fileCount}}
                                                </span>
                                            </div>
                                            <div class="float-end ms-auto">
                                            <spk-dropdowns [Customclass]="'dropdown'" [class]="'no-caret p-0'" [Icon]="true"
                                                [IconClass]="'ri-more-2-fill fw-semibold text-muted'" [Menuclass]="'dropdown-menu'">
                                                 <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                                                 <li><a class="dropdown-item" href="javascript:void(0);">Rename</a></li>
                                                 <li><a class="dropdown-item" href="javascript:void(0);">Hide Folder</a></li>
                                             </spk-dropdowns> 
                                            </div>
                                        </div>
                                        <div>
                                            <div class="progress progress-xs mt-3">
                                                <div class="progress-bar bg-{{item.bgProgress}} progress-bar-animated progress-bar-striped"
                                                    role="progressbar" [style.width.%]="item.ProgressWidth" 
                                                    aria-valuenow="65" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                        <div class="d-flex mb-3 align-items-center justify-content-between">
                            <p class="mb-0 fw-medium fs-14">Recent Files</p>
                            <a href="javascript:void(0);" class="fs-12 text-muted fw-medium"> View All<i
                                    class="ti ti-arrow-narrow-right ms-1"></i> </a>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="table-responsive border">
                                    <spk-reusable-tables  [columns]="companiesColumn" tableClass=" text-nowrap table-hover"
                                     checkboxClass="text-center">
                                            @for(data of tableData;track data){
                                                <tr>
                                                    <th scope="row">
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-0">
                                                                <span class="avatar avatar-md svg-{{data.SvgBg}} text-{{data.SvgBg}}" [innerHTML]="sanitizeHtml(data.svg)">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a (click)="openEnd(content)" href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">{{data.FileName}}</a>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td>{{data.Category}}</td>
                                                    <td>{{data.Size}}</td>
                                                    <td>{{data.Date}}</td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-15">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light"><i class="ri-eye-line"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-danger-light"><i class="ri-delete-bin-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            <td colspan="5">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-end mb-0">
                                                        <li class="page-item disabled"><a
                                                            class="page-link"
                                                            href="javascript:void(0);">Previous</a>
                                                        </li>
                                                        <li class="page-item active"><a class="page-link"
                                                            href="javascript:void(0);">1</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link"
                                                            href="javascript:void(0);">2</a>
                                                        </li>
                                                            <li class="page-item"><a class="page-link"
                                                                    href="javascript:void(0);">Next</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </td>
                                     </spk-reusable-tables>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body pb-0">
                        <div id="file-manager-storage">
                            <spk-apexcharts [chartOptions]="chartOptions3"></spk-apexcharts>
                        </div>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="list-group filemanager-list list-group-flush p-3 list-none">
                            @for(category of fileCategories;track category){
                            <li  class="px-3 py-2 bg-light border">
                              <div class="d-flex align-items-center gap-3 flex-wrap">
                                <div class="main-card-icon">
                                  <div class="avatar avatar-md bg-{{category.iconColor}}-transparent avatar-rounded border border-primary border-opacity-10">
                                    <div class="avatar avatar-sm svg-{{category.iconColor}} text-{{category.iconColor}}" >
                                        <div [innerHTML]="sanitizeHtml(category.icon)"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-fill">
                                  <span class="fw-medium">{{ category.title }}</span>
                                  <span class="text-muted fs-12 d-block">{{ category.fileCount }} files</span>
                                </div>
                                <div>
                                  <span class="fw-medium mb-0 fs-14 text-{{category.iconColor}}">{{ category.size }}</span>
                                </div>
                              </div>
                            </li>
                        }
                          </ul>
                          
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card border-0 shadow-none filemanager-gradient">
                    <div class="card-body">
                        <div class="filemanager-upgrade-storage w-100 text-center">
                            <span class="d-block mb-3"> <img
                                    src="./assets/images/media/file-manager/2.png" alt=""> </span>
                            <span class="fs-15 fw-semibold text-default">Upgrade To PRO</span>
                            <span class="fs-12 fw-medium d-block text-muted mt-2">Upgrade to Pro for
                                lightning-fast transfers, enhanced security, unlimited storage</span>
                            <div class="mt-3 d-grid"> <button
                                    class="btn btn-lg btn-primary btn-wave">Upgrade
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->

  <!-- Start::mail information offcanvas -->
  <ng-template #content let-offcanvas>
    <div class="offcanvas-body p-0">
    <div class="selected-file-details">
            <div class="d-flex p-3 align-items-center justify-content-between border-bottom">
                <div>
                    <h6 class="fw-medium mb-0">File Details</h6>
                </div>
                <div class="d-flex align-items-center">
                    <spk-dropdowns [Customclass]="'dropdown'" [class]="'btn btn-sm btn-icon btn-primary-light btn-wave waves-light waves-effect waves-light no-caret me-2'" [Icon]="true"
                    [IconClass]="'ri-more-2-fill'" [Menuclass]="'dropdown-menu'">
                            <li><a class="dropdown-item" href="javascript:void(0);">Share</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Copy</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Move</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Raname</a></li>
                 </spk-dropdowns> 
                    <a (click)="offcanvas.dismiss('Cross click')" type="button" class="btn btn-sm btn-icon btn-outline-light border" data-bs-dismiss="offcanvas"
                        aria-label="Close"><i class="ri-close-line"></i></a>
                </div>
            </div>
            <div class="filemanager-file-details" id="filemanager-file-details">
                <div class="p-3 text-center border-bottom border-block-end-dashed">
                    <div class="file-details mb-3">
                        <img src="./assets/images/media/blog/9.jpg" alt="">
                    </div>
                    <div>
                        <p class="mb-0 fw-medium fs-16">IMG-09123878-SPK734.jpeg</p>
                        <p class="mb-0 text-muted fs-10">422KB | 23,Nov 2024</p>
                    </div>
                </div>
                <div class="p-3 border-bottom border-block-end-dashed">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div>
                                <span class="fw-medium">File Format : </span><span class="fs-12 text-muted">jpeg</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <p class="fw-medium mb-0">File Description : </p>
                                <span class="fs-12 text-muted">This file contains 3 folder MAMIX.main & MAMIX.premium & MAMIX.featured and 42 images and layout styles are added in this update.</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="fw-medium mb-0">File Location : </p>
                            <span class="fs-12 text-muted">Device/Storage/Archives/IMG-09123878-SPK734.jpeg</span>
                        </li>
                    </ul>
                </div>
                <div class="p-3 border-bottom border-block-end-dashed">
                    <p class="mb-1 fw-medium fs-14">Downloaded from :</p>
                    <a class="text-primary fw-medium text-break" href="https://themeforest.net/user/spruko/portfolio" target="_blank">
                        <u>https://themeforest.net/user/spruko/portfolio</u>
                    </a>
                </div>
                <div class="p-3">
                    <p class="mb-2 fw-medium fs-14">Shared With :</p>
                    <a href="javascript:void(0);">
                            <div class="d-flex align-items-center p-2 mb-1">
                            <span class="avatar avatar-sm me-2 avatar-rounded">
                                <img src="./assets/images/faces/1.jpg" alt="">
                            </span>
                            <span class="fw-medium flex-fill">Akira Susan</span>
                            <span class="badge bg-success-transparent fw-normal">28,Nov 2024</span>
                        </div>
                    </a>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center p-2 mb-1">
                            <span class="avatar avatar-sm me-2 avatar-rounded">
                                <img src="./assets/images/faces/15.jpg" alt="">
                            </span>
                            <span class="fw-medium flex-fill">Khalid Ahmad</span>
                            <span class="badge bg-success-transparent fw-normal">16,Oct 2024</span>
                        </div>
                    </a>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center p-2 mb-1">
                            <span class="avatar avatar-sm me-2 avatar-rounded">
                                <img src="./assets/images/faces/8.jpg" alt="">
                            </span>
                            <span class="fw-medium flex-fill">Jeremiah Jackson</span>
                            <span class="badge bg-success-transparent fw-normal">05,Dec 2024</span>
                        </div>
                    </a>    
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center p-2">
                            <span class="avatar avatar-sm me-2 avatar-rounded">
                                <img src="./assets/images/faces/13.jpg" alt="">
                            </span>
                            <span class="fw-medium flex-fill">Brigo Jhonson</span>
                            <span class="badge bg-success-transparent fw-normal">13,Nov 2024</span>
                        </div>
                    </a>    
                </div>
            </div>
        </div>
    </div>

</ng-template>
<!-- End::mail information offcanvas -->