 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                    <div>
                        <ul ngbNav #nav="ngbNav" class="nav nav-tabs mb-0 tab-style-8 scaleX" role="tablist">
                            <li  [ngbNavItem]="1" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="true"><i class="ri-global-line fs-15 fw-normal me-1"></i>All</a>
                                <ng-template ngbNavContent>
                                    <div class="show p-0 border-0" id="nft-all" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            @for (nft of nftItems; track $index) {
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                            <spk-nft-card [title]="nft.title" [bgColor]="nft.bgColor" [image]="nft.imgSrc"
                                                          [title1]="nft.creator" [value]="nft.topBid"></spk-nft-card>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        </div>
                                            <div>
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination mb-4">
                                                        <li class="page-item disabled">
                                                            <a class="page-link">Previous</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="javascript:void(0);">Next</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-palette-line fs-15 fw-normal me-1"></i>Art</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-art" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            @for (nft of nftItemsArt; track $index) {
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <spk-nft-card [title]="nft.title" [bgColor]="nft.bgColor" [image]="nft.imgSrc"
                                          [title1]="nft.creator" [value]="nft.topBid"
                                          ></spk-nft-card>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        }
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-discord-line fs-15 fw-normal me-1"></i>Gaming</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-gaming" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            @for (nft of nftItemsArt1; track $index) {
                                                <div class="col">
                                                    <div class="card custom-card">
                                                        <div class="card-body">
                                                            <spk-nft-card [title]="nft.title" [bgColor]="nft.bgColor" [image]="nft.imgSrc"
                                              [title1]="nft.creator" [value]="nft.topBid"
                                              ></spk-nft-card>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            }
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="4" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-firebase-line fs-15 fw-normal me-1"></i>Domain</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-domain" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <div class="position-relative mb-3 overflow-hidden rounded">
                                                            <img src="./assets/images/nft-images/6.jpg" class="card-img rounded" alt="...">
                                                            <p class="mb-0 bg-secondary text-fixed-white nft-auction-time"> 04hrs : 24m : 38s </p>
                                                            <div class="nft-content">
                                                                <a href="javascript:void(0);" class="fs-14 fw-bold text-fixed-white">Cultural Icons</a>
                                                                <div class="d-flex mb-0 align-items-center flex-wrap gap-2 justify-content-between">
                                                                    <div> 
                                                                        <span class="fs-12 text-fixed-white d-block mb-1 op-8">Created By</span>
                                                                        <span class="fw-medium text-fixed-white d-block lh-1">LegendaryCrafter</span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <span class="fs-12 text-fixed-white d-block mb-1">Top Bid</span>
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="avatar avatar-xs">
                                                                                <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                                            </span>
                                                                            <span class="ms-1 h6 mb-0 fw-semibold text-fixed-white">2.75</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary btn-wave waves-effect waves-light">
                                                                Place BId
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="5" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-music-2-line fs-15 fw-normal me-1"></i>Music</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-music" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <div class="position-relative mb-3 overflow-hidden rounded">
                                                            <img src="./assets/images/nft-images/9.jpg" class="card-img rounded" alt="...">
                                                            <p class="mb-0 bg-secondary text-fixed-white nft-auction-time"> 04hrs : 24m : 38s </p>
                                                            <div class="nft-content">
                                                                <a href="javascript:void(0);" class="fs-14 fw-bold text-fixed-white">Legacy Legends</a>
                                                                <div class="d-flex mb-0 align-items-center flex-wrap gap-2 justify-content-between">
                                                                    <div> 
                                                                        <span class="fs-12 text-fixed-white d-block mb-1 op-8">Created By</span>
                                                                        <span class="fw-medium text-fixed-white d-block lh-1">GameWizardry</span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <span class="fs-12 text-fixed-white d-block mb-1">Top Bid</span>
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="avatar avatar-xs">
                                                                                <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                                            </span>
                                                                            <span class="ms-1 h6 mb-0 fw-semibold text-fixed-white">9.65</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary btn-wave waves-effect waves-light">
                                                                Place BId
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="6" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1 text-nowrap" data-bs-toggle="tab" role="tab" aria-current="page"  aria-selected="false" tabindex="-1"><i class="ri-home-3-line fs-15 fw-normal me-1"></i>Real Estate</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-realestate" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <div class="position-relative mb-3 overflow-hidden rounded">
                                                            <img src="./assets/images/nft-images/3.jpg" class="card-img rounded" alt="...">
                                                            <p class="mb-0 bg-secondary text-fixed-white nft-auction-time"> 04hrs : 24m : 38s </p>
                                                            <div class="nft-content">
                                                                <a href="javascript:void(0);" class="fs-14 fw-bold text-fixed-white">Historic Visions</a>
                                                                <div class="d-flex mb-0 align-items-center flex-wrap gap-2 justify-content-between">
                                                                    <div> 
                                                                        <span class="fs-12 text-fixed-white d-block mb-1 op-8">Created By</span>
                                                                        <span class="fw-medium text-fixed-white d-block lh-1">ArtCrafted</span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <span class="fs-12 text-fixed-white d-block mb-1">Top Bid</span>
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="avatar avatar-xs">
                                                                                <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                                            </span>
                                                                            <span class="ms-1 h6 mb-0 fw-semibold text-fixed-white">1.85</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary btn-wave waves-effect waves-light">
                                                                Place BId
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="7" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-football-line fs-15 fw-normal me-1"></i>Sports</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-sports" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <div class="position-relative mb-3 overflow-hidden rounded">
                                                            <img src="./assets/images/nft-images/4.jpg" class="card-img rounded" alt="...">
                                                            <p class="mb-0 bg-secondary text-fixed-white nft-auction-time"> 04hrs : 24m : 38s </p>
                                                            <div class="nft-content">
                                                                <a href="javascript:void(0);" class="fs-14 fw-bold text-fixed-white">Dragon’s Breath</a>
                                                                <div class="d-flex mb-0 align-items-center flex-wrap gap-2 justify-content-between">
                                                                    <div> 
                                                                        <span class="fs-12 text-fixed-white d-block mb-1 op-8">Created By</span>
                                                                        <span class="fw-medium text-fixed-white d-block lh-1">ArtInnovator</span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <span class="fs-12 text-fixed-white d-block mb-1">Top Bid</span>
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="avatar avatar-xs">
                                                                                <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                                            </span>
                                                                            <span class="ms-1 h6 mb-0 fw-semibold text-fixed-white">4.22</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary btn-wave waves-effect waves-light">
                                                                Place BId
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="8" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-t-shirt-line fs-15 fw-normal me-1"></i>Fashion</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-fashion" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <div class="position-relative mb-3 overflow-hidden rounded">
                                                            <img src="./assets/images/nft-images/7.jpg" class="card-img rounded" alt="...">
                                                            <p class="mb-0 bg-secondary text-fixed-white nft-auction-time"> 04hrs : 24m : 38s </p>
                                                            <div class="nft-content">
                                                                <a href="javascript:void(0);" class="fs-14 fw-bold text-fixed-white">Ancient Echoes</a>
                                                                <div class="d-flex mb-0 align-items-center flex-wrap gap-2 justify-content-between">
                                                                    <div> 
                                                                        <span class="fs-12 text-fixed-white d-block mb-1 op-8">Created By</span>
                                                                        <span class="fw-medium text-fixed-white d-block lh-1">TechCrafter</span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <span class="fs-12 text-fixed-white d-block mb-1">Top Bid</span>
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="avatar avatar-xs">
                                                                                <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                                            </span>
                                                                            <span class="ms-1 h6 mb-0 fw-semibold text-fixed-white">1.78</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary btn-wave waves-effect waves-light">
                                                                Place BId
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="9" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-award-line fs-15 fw-normal me-1"></i>Avatars</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-avatars" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <div class="position-relative mb-3 overflow-hidden rounded">
                                                            <img src="./assets/images/nft-images/5.jpg" class="card-img rounded" alt="...">
                                                            <p class="mb-0 bg-secondary text-fixed-white nft-auction-time"> 04hrs : 24m : 38s </p>
                                                            <div class="nft-content">
                                                                <a href="javascript:void(0);" class="fs-14 fw-bold text-fixed-white">Epic Personas</a>
                                                                <div class="d-flex mb-0 align-items-center flex-wrap gap-2 justify-content-between">
                                                                    <div>
                                                                        <span class="fs-12 text-fixed-white d-block mb-1 op-8">Created By</span>
                                                                        <span class="fw-medium text-fixed-white d-block lh-1">CyberCraftPro</span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <span class="fs-12 text-fixed-white d-block mb-1">Top Bid</span>
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="avatar avatar-xs">
                                                                                <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                                            </span>
                                                                            <span class="ms-1 h6 mb-0 fw-semibold text-fixed-white">5.78</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary btn-wave waves-effect waves-light">
                                                                Place BId
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="10" class="nav-item" role="presentation">
                                <a ngbNavLink class="nav-link d-flex align-items-center gap-1" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="false" tabindex="-1"><i class="ri-emoji-sticker-line fs-15 fw-normal me-1"></i>Memes</a>
                                <ng-template ngbNavContent>
                                    <div class="p-0 border-0" id="nft-memes" role="tabpanel">
                                        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2 row-cols-1">
                                            <div class="col">
                                                <div class="card custom-card">
                                                    <div class="card-body">
                                                        <div class="position-relative mb-3 overflow-hidden rounded">
                                                            <img src="./assets/images/nft-images/2.jpg" class="card-img rounded" alt="...">
                                                            <p class="mb-0 bg-secondary text-fixed-white nft-auction-time"> 04hrs : 24m : 38s </p>
                                                            <div class="nft-content">
                                                                <a href="javascript:void(0);" class="fs-14 fw-bold text-fixed-white">Sonic Journeys</a>
                                                                <div class="d-flex mb-0 align-items-center flex-wrap gap-2 justify-content-between">
                                                                    <div> 
                                                                        <span class="fs-12 text-fixed-white d-block mb-1 op-8">Created By</span>
                                                                        <span class="fw-medium text-fixed-white d-block lh-1">TechSavvyXpert</span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <span class="fs-12 text-fixed-white d-block mb-1">Top Bid</span>
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="avatar avatar-xs">
                                                                                <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                                            </span>
                                                                            <span class="ms-1 h6 mb-0 fw-semibold text-fixed-white">2.78</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary btn-wave waves-effect waves-light">
                                                                Place BId
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-sm btn-secondary btn-wave">Filters</button>
                        <spk-dropdowns [Customclass]="'dropdown custom-dropdown-end'" [title]="'Sort By'"
                        [class]="'btn btn-sm btn-wave btn-primary waves-effect waves-light no-caret'" [Icon]="true"
                        [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" [Menuclass]="'dropdown-menu'">
                        <li><a class="dropdown-item" href="javascript:void(0);">New Collection</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);">High - Low</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);">Low - High</a></li>
                    </spk-dropdowns>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12 customtab">
        <div class="tab-content" [ngbNavOutlet]="nav">
        </div>
    </div>
</div>
<!-- End:: row-2 -->