 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xxl-8">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">Task Summary</div>
                <div class="btn-list">
                    <button type="button" class="btn btn-primary btn-sm btn-wave me-0"><i
                            class="ri-edit-line me-1 align-middle"></i>Edit Task</button>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-4 gap-2 flex-wrap"> <span
                        class="avatar avatar-lg me-1 bg-primary-transparent"><i
                            class="ri-briefcase-line fs-24 lh-1"></i></span>
                    <div>
                        <h6 class="fw-medium mb-2 task-title">  Task Management Web App Design 
                        </h6> <span class="badge bg-success-transparent"> In progress</span> <span
                            class="text-muted fs-12"><i
                                class="ri-circle-fill text-success mx-2 fs-9"></i>Last Updated 1 Day
                            Ago</span>
                    </div>
                    <div class="d-flex flex-wrap rightIcons float-end ms-auto"> 
                      <button
                            aria-label="button" type="button"
                            class="btn btn-icon btn-primary my-1 ms-2 btn-sm"> <i
                                class="ri-edit-box-line"></i> </button>
                                <button aria-label="button"
                            type="button" class="btn btn-icon btn-secondary my-1 ms-2 btn-sm"> <i
                                class="ri-links-fill"></i> </button>
                                <spk-dropdowns [Customclass]="'dropdown ms-2'"
                                [class]="'btn btn-icon btn-success my-1 btn-sm no-caret'" [Icon]="true"
                                 [IconClass]="'ti ti-dots-vertical'"[Menuclass]="'dropdown-menu'">
                                       <li><a class="dropdown-item" href="javascript:void(0);">Download</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                            </spk-dropdowns>
                            </div>
                </div>
                <div class="fs-15 fw-medium mb-2">Task Description :</div>
                <p class="text-muted task-description">A sleek and intuitive web application designed to help individuals and teams manage their tasks efficiently. This app offers a user-friendly interface where users can create, organize, and prioritize tasks, set deadlines, and track progress in real-time.</p>
                <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="fs-15 fw-medium">Sub Tasks :</div> <a href="javascript:void(0);"
                                class="btn btn-primary-light btn-wave btn-sm waves-effect waves-light">See
                                More</a>
                        </div>
                        <div class="row">
                            @for (group of listGroupData; track $index) {
                            <div class="col-xl-6">
                              <ul class="list-group">
                                @for ( item of group.items; track $index) {
                                <li class="list-group-item">
                                  <div class="d-flex align-items-center">
                                    <div class="me-2">
                                      <i [class]="item.iconClass"></i>
                                    </div>
                                    <div class="fw-medium">{{ item.description }}</div>
                                  </div>
                                </li>
                            }
                              </ul>
                            </div>
                        }
                          </div>
                          
                </div>
                <div class="fs-15 fw-medium mb-2">Skills :</div>
                <div class="d-flex gap-1 flex-wrap">
                    <spk-tags [tags]="badgeData"></spk-tags>
                  </div>
                  
                <div class="fs-15 fw-medium mb-2 mt-3">Team :</div>
                <div class="d-flex align-items-center flex-wrap gap-4">
                    @for (person of teamData; track $index) {
                    <div class="p-2 border rounded d-flex align-items-center">
                      <span class="avatar avatar-sm avatar-rounded me-2">
                        <img [src]="person.image" alt="img">
                      </span>
                      <div class="d-flex flex-column lh-1">
                        <span class="mb-1">{{ person.name }}</span>
                        <span class="fs-11 text-muted">{{ person.role }}</span>
                      </div>
                    </div>
                }
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header">
                        <div class="card-title">
                            Project Documents
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            @for (doc of documents; track $index) {
                                <li  class="list-group-item">
                                  <div class="d-flex align-items-center flex-wrap gap-2">
                                    <div class="lh-1">
                                      <div class="avatar avatar-md bg-light">
                                        <div class="avatar avatar-sm" [ngClass]="doc.iconClass">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
                                            <path [attr.d]="doc.svgPath"></path>
                                          </svg>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="flex-fill">
                                      <a href="javascript:void(0);">
                                        <span class="d-block fw-medium">{{ doc.fileName }}</span>
                                      </a>
                                      <span class="d-block text-muted fs-12 fw-normal">{{ doc.fileSize }}</span>
                                    </div>
                                    <div class="btn-list">
                                      <button class="btn btn-sm btn-icon btn-primary-light btn-wave">
                                        <i class="ri-edit-line"></i>
                                      </button>
                                      <button class="btn btn-sm btn-icon btn-danger-light btn-wave">
                                        <i class="ri-delete-bin-line"></i>
                                      </button>
                                    </div>
                                  </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">Sub Tasks</div>
                        <div>
                            <button type="button" class="btn btn-success-light btn-sm btn-wave"><i
                                    class="ri-add-line me-1 align-middle"></i>Sub Task</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of subTaskData; let i = index">
                              <div class="d-flex align-items-start" *ngIf="item.details; else simpleItem">
                                <div class="me-2">
                                  <input
                                    class="form-check-input form-checked-success"
                                    type="checkbox"
                                    [checked]="item.checked"
                                    [id]="'successChecked' + i"
                                  />
                                </div>
                                <div>
                                  <div
                                    class="fw-medium"
                                    [ngClass]="{ 'text-decoration-line-through text-muted': item.checked }"
                                  >
                                    {{ item.label }}
                                  </div>
                                  <div class="fw-medium bg-light border px-2 py-2 fs-12 mt-2 rounded">
                                    {{ item.details }}
                                  </div>
                                </div>
                              </div>
                              <ng-template #simpleItem>
                                <div class="d-flex align-items-center">
                                  <div class="me-2">
                                    <input
                                      class="form-check-input form-checked-success"
                                      type="checkbox"
                                      [checked]="item.checked"
                                      [id]="'successChecked' + i"
                                    />
                                  </div>
                                  <div
                                    class="fw-medium"
                                    [ngClass]="{ 'text-decoration-line-through text-muted': item.checked }"
                                  >
                                    {{ item.label }}
                                  </div>
                                </div>
                              </ng-template>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                           Comments
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group border-0">
                            @for (item of listItems; track $index) {
                            <li class="list-group-item border-0 border-bottom px-3" >
                              <div class="d-flex align-items-start justify-content-between gap-3 flex-wrap">
                                <div class="d-flex align-items-center gap-2 mb-2">
                                  <span class="avatar avatar-sm avatar-rounded">
                                    <img [src]="item.avatar" alt="{{ item.name }}" />
                                  </span>
                                  <span class="fw-medium d-block mb-1">{{ item.name }}</span>
                                </div>
                                <div class="btn-list">
                                  <button
                                    *ngFor="let button of item.buttons"
                                    [class]="button.class"
                                  >
                                    <i [class]="button.icon"></i>
                                  </button>
                                </div>
                              </div>
                              <div>
                                <span class="d-block mb-2 text-muted">{{ item.comment }}</span>
                                <div class="btn-list mb-1">
                                  <a
                                    *ngFor="let action of item.actions"
                                    [href]="action.href"
                                    [class]="action.class"
                                  >
                                    {{ action.label }}
                                  </a>
                                </div>
                              </div>
                            </li>
                        }
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Additional Details
                </div>
                <div>
                    <button class="btn btn-light btn-sm btn-wave waves-effect waves-light"><i
                            class="ri-add-line align-middle me-1 fw-medium"></i>Add New</button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <tbody>
                            <tr>
                              <td>
                                <span>
                                  <i class="ri-file-list-3-line fs-15 lh-1 p-1 text-primary bg-primary-transparent rounded-pill me-2"></i>
                                  Task ID :
                                </span>
                              </td>
                              <td>:</td>
                              <td>
                                <span>{{ taskDetails.taskID }}</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>
                                  <i class="ri-group-line fs-15 lh-1 p-1 text-secondary bg-secondary-transparent rounded-pill me-2"></i>
                                  Assigned
                                </span>
                              </td>
                              <td>:</td>
                              <td>
                                <div class="avatar-list-stacked">
                                    @for (person of taskDetails.assigned; track $index) {
                                  <span
                                    class="avatar avatar-sm avatar-rounded"
                                    data-bs-toggle="tooltip"
                                    tooltipClass="tooltip-primary"
                                    ngbTooltip="{{person.name}}"
                                  >
                                    <img [src]="person.avatar" alt="Avatar of {{ person.name }}" />
                                  </span>
                                }
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>
                                  <i class="ri-restart-line fs-15 lh-1 p-1 text-success bg-success-transparent rounded-pill me-2"></i>
                                  Project Status
                                </span>
                              </td>
                              <td>:</td>
                              <td>
                                <span [class]="taskDetails.projectStatus.class">{{ taskDetails.projectStatus.label }}</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>
                                  <i class="ri-calendar-line fs-15 lh-1 p-1 text-info bg-info-transparent rounded-pill me-2"></i>
                                  Timeline
                                </span>
                              </td>
                              <td>:</td>
                              <td>
                                <span>{{ taskDetails.timeline }}</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>
                                  <i class="ri-article-line fs-15 lh-1 p-1 text-warning bg-warning-transparent rounded-pill me-2"></i>
                                  Project Priority
                                </span>
                              </td>
                              <td>:</td>
                              <td>
                                <span [class]="taskDetails.projectPriority.class">{{ taskDetails.projectPriority.label }}</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>
                                  <i class="ri-user-3-line fs-15 lh-1 p-1 text-danger bg-danger-transparent rounded-pill me-2"></i>
                                  Project Manager
                                </span>
                              </td>
                              <td>:</td>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="me-2 lh-1">
                                    <span class="avatar avatar-xs avatar-rounded">
                                      <img [src]="taskDetails.projectManager.avatar" alt="Avatar of {{ taskDetails.projectManager.name }}" />
                                    </span>
                                  </div>
                                  <span class="d-block fs-14 fw-medium">{{ taskDetails.projectManager.name }}</span>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span>
                                  <i class="ri-price-tag-3-line fs-15 lh-1 p-1 text-teal bg-teal-transparent rounded-pill me-2"></i>
                                  Task Tags :
                                </span>
                              </td>
                              <td>:</td>
                              <td>
                                <spk-tags [tags]="taskDetails.tags"></spk-tags>
                              </td>
                            </tr>
                            <tr>
                              <td class="border-bottom-0">
                                <span>
                                  <i class="ri-loop-right-line fs-15 lh-1 p-1 text-pink bg-pink-transparent rounded-pill me-2"></i>
                                  Progress :
                                </span>
                              </td>
                              <td class="border-bottom-0">:</td>
                              <td class="border-bottom-0">
                                <div class="d-flex align-items-center">
                                  <div
                                    class="progress progress-xs progress-animate flex-fill me-2"
                                    role="progressbar"
                                    [attr.aria-valuenow]="taskDetails.progress"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  >
                                    <div
                                      class="progress-bar bg-primary"
                                      [style.width.%]="taskDetails.progress"
                                    ></div>
                                  </div>
                                  <div class="text-muted fs-11">{{ taskDetails.progress }}%</div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Task Discussions</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled profile-timeline">
                    <li>
                        <div>
                            <span
                                class="avatar avatar-md bg-primary-transparent avatar-rounded profile-timeline-avatar">
                                <span class="avatar avatar-sm bg-primary avatar-rounded"><i class="ri-group-line fs-16"></i></span>
                            </span>
                            <p class="mb-2">
                                <span class="fw-medium">Conduct a Meeting for all Team Members.</span>
                                <span class="float-end fs-11 text-muted">15,Nov
                                    2024 - 12:15</span>
                            </p>
                            <p class="text-muted mb-0">
                                Discuss the new feature need to implement for the e-commerce site Design.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span
                            class="avatar avatar-md bg-secondary-transparent avatar-rounded profile-timeline-avatar">
                            <span class="avatar avatar-sm bg-secondary avatar-rounded"><i class="ri-file-text-line fs-16"></i></span>
                        </span>
                            <p class="text-muted mb-2">
                                <span class="text-default">All Task Releted Important Files and Images.
                                    </span><span class="float-end fs-11 text-muted">21,Dec
                                    2024 - 15:32</span>
                            </p>
                            <div class="p-2 rounded bg-light border mt-sm-0 mt-4">
                                <div class="row gy-2">
                                    <div class="col-xl-6">
                                        <div class="card custom-card border shadow-none mb-0">
                                            <div class="card-body">
                                                <div class="mb-0 folder-svg-container d-flex flex-wrap align-items-center">
                                                    <div class="svg-warning text-warning me-3 bg-light avatar avatar-md border">
                                                       <img src="./assets/images/media/file-manager/3.png" alt="img">
                                                    </div>
                                                    <div>
                                                        <p class="fs-14 fw-medium mb-1 lh-1">
                                                            <a href="javascript:void(0);">Images</a>
                                                        </p>
                                                        <span class="text-muted fs-12">
                                                            246 Files
                                                        </span>
                                                    </div>
                                                    <div class="float-end ms-auto">
                                                      <spk-dropdowns [Customclass]="'dropdown custom-dropdown-end'"
                                                      [class]="'no-caret'" [Icon]="true"
                                                      [IconClass]="'ri-more-2-fill fw-semibold text-muted'" [Menuclass]="'dropdown-menu'">
                                                      <li><a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                      </li>
                                                      <li><a class="dropdown-item" href="javascript:void(0);">Rename</a>
                                                      </li>
                                                      <li><a class="dropdown-item" href="javascript:void(0);">Hide
                                                              Folder</a></li>
                                                  </spk-dropdowns>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="card custom-card border shadow-none mb-0">
                                            <div class="card-body">
                                                <div class="mb-0 folder-svg-container d-flex flex-wrap align-items-center">
                                                    <div class="svg-warning text-warning me-3 bg-light avatar avatar-md border p-1">
                                                       <img src="./assets/images/media/file-manager/1.png" alt="img">
                                                    </div>
                                                    <div>
                                                        <p class="fs-14 fw-medium mb-1 lh-1">
                                                            <a href="javascript:void(0);">Images</a>
                                                        </p>
                                                        <span class="text-muted fs-12">
                                                            246 Files
                                                        </span>
                                                    </div>
                                                    <div class="float-end ms-auto">
                                                      <spk-dropdowns [Customclass]="'dropdown custom-dropdown-end'"
                                                      [class]="'no-caret'" [Icon]="true"
                                                      [IconClass]="'ri-more-2-fill fw-semibold text-muted'" [Menuclass]="'dropdown-menu'">
                                                      <li><a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                      </li>
                                                      <li><a class="dropdown-item" href="javascript:void(0);">Rename</a>
                                                      </li>
                                                      <li><a class="dropdown-item" href="javascript:void(0);">Hide
                                                              Folder</a></li>
                                                  </spk-dropdowns>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-2 text-muted mb-0">This folder contains all essential files and images associated with various tasks and projects.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span
                            class="avatar avatar-md bg-success-transparent avatar-rounded profile-timeline-avatar">
                            <span class="avatar avatar-sm bg-success avatar-rounded"><i class="ri-folder-close-line fs-16"></i></span>
                        </span>
                            <p class="mb-1">
                              The list of Team Memebrs not completed the assign task till now.<span
                                    class="float-end fs-11 text-muted">24,Dec 2024 - 14:34</span>
                            </p>
                            <p class="text-muted">Every one should follow the deadline and complete the task as per the deadline.
                               </p>
                               <div class="d-flex align-items-center gap-1 p-1 bg-light flex-wrap border rounded">
                                 @for (person of teamData1; track $index) {
                                   <div class="p-2 border rounded d-flex bg-white align-items-center flex-wrap">
                                      <span class="avatar avatar-sm avatar-rounded me-2">
                                        <img [src]="person.image" alt="img">
                                      </span>
                                      <div class="d-flex flex-column lh-1">
                                        <span class="mb-1">{{ person.name }}</span>
                                        <span class="fs-11 text-muted">{{ person.role }}</span>
                                      </div>
                                    </div>
                                  }
                            </div> 
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="d-sm-flex align-items-center lh-1 bg-light p-2 rounded">
                    <div class="me-sm-3 mb-2 mb-sm-0">
                        <img src="./assets/images/faces/1.jpg" alt=""
                            class="avatar avatar-md avatar-rounded">
                    </div>
                    <div class="flex-fill me-sm-2">
                        <div class="input-group">
                            <input type="text" class="form-control w-sm-50 border shadow-none"
                                placeholder="Post Anything"
                                aria-label="Recipient's username with two button addons">
                            <button class="btn border bg-white btn-wave waves-effect waves-light text-default"
                                type="button"><i class="bi bi-emoji-smile"></i></button>
                            <button class="btn border bg-white btn-wave waves-effect waves-light text-default"
                                type="button"><i class="bi bi-paperclip"></i></button>
                            <button class="btn border bg-white btn-wave waves-effect waves-light text-default"
                                type="button"><i class="bi bi-camera"></i></button>
                            <button class="btn btn-primary btn-wave waves-effect waves-light"
                                type="button">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->