<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Area Chart</div>
            </div>
            <div class="card-body">
                <div id="area-basic">
                        <spk-apexcharts [chartOptions]="chartOptions1"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Spline Area Chart</div>
            </div>
            <div class="card-body">
                <div id="area-spline">
                    <div id="chart">
                        <spk-apexcharts [chartOptions]="chartOptions2"></spk-apexcharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Area Chart With Negative Values</div>
            </div>
            <div class="card-body">
                <div id="area-negative">
                    <div id="chart">
                        <spk-apexcharts [chartOptions]="chartOptions3"></spk-apexcharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Selection-Github Style Chart</div>
            </div >
            <div class="card-body">
                <div id="wrapper">
                    <div id="chart-months">
                        <apx-chart [series]="chartMonths.series" [chart]="chartMonths.chart" 
                            [colors]="chartMonths.colors" [yaxis]="chartMonths.yaxis" [colors]="chartMonths.colors"
                            [dataLabels]="commonOptions.dataLabels" [fill]="commonOptions.fill"
                            [stroke]="commonOptions.stroke" [xaxis]="commonOptions.xaxis"></apx-chart>
                    </div>

                    <div class="github-style d-flex align-items-center">
                        <div class="me-2">
                            <img class="userimg rounded" src="./assets/images/faces/1.jpg" data-hovercard-user-id="634573" alt="" width="38" height="38">
                        </div>
                        <div class="userdetails lh-1">
                            <a class="username fw-medium fs-14">coder</a>
                            <span class="cmeta d-block mt-1">
                                <span class="commits">95</span> commits
                            </span>
                        </div>
                    </div>

                    <div id="chart-years">
                        <apx-chart [series]="chartYears.series" [chart]="chartYears.chart" [colors]="chartYears.colors"
                            [legend]="chartYears.legend" [dataLabels]="commonOptions.dataLabels"
                            [fill]="commonOptions.fill" [stroke]="commonOptions.stroke"
                            [xaxis]="commonOptions.xaxis"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Stacked Area Chart</div>
            </div>
            <div class="card-body">
                <div id="area-stacked">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <spk-apexcharts [chartOptions]="chartOptions5"></spk-apexcharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Irregular Time Series Chart</div>
            </div>
            <div class="card-body">
                <div id="area-irregular">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <spk-apexcharts [chartOptions]="chartOptions6"></spk-apexcharts>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Area Chart With Null Values</div>
            </div>
            <div class="card-body">
                <div id="area-null"></div>
                <!--The content below is only a placeholder and can be replaced.-->
                <div id="chart">
                    <spk-apexcharts [chartOptions]="chartOptions8"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header d-flex">
                <div class="card-title">Area Chart-Datetime X-Axis Chart</div>
                <div class="btn-group ms-auto">
                    <button class="btn btn-primary btn-sm" id="one_month" [class.active]="activeOptionButton=='1m'">1M</button>
                    <button class="btn btn-primary btn-sm" id="six_months" [class.active]="activeOptionButton=='6m'">6M</button>
                    <button class="btn btn-primary btn-sm" id="one_year" [class.active]="activeOptionButton=='1y'">1Y</button>
                    <button class="btn btn-primary btn-sm" id="all" [class.active]="activeOptionButton=='all'">ALL</button>
                </div>
            </div>
            <div class="card-body">
                <div id="area-datetime"  class="chart-container8">
                    <spk-apexcharts [chartOptions]="ChartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->