 <!-- Start::row-1 -->
 <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-sm-2 row-cols-1">
    @for ( card of cards; track $index) {
    <div class="col" >
        <div class="card custom-card border shadow-none">
          <div class="card-body">
            <spk-kanban-card  
            [title]="card.title"
            [value]="card.value" 
            [iconClass]="card.iconClass" 
            [Bgcolor]="card.bgColor" 
            [textcolor]="card.percentageColor"
            [direction]="card.changeDirection" 
            [percentageChange]="card.percentageChange"
            ></spk-kanban-card>
          </div>
        </div>
      </div>
    }
</div>
<!--End::row-1 -->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Products List
                </div>
                <div class="d-flex gap-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example">
                    <a [routerLink]="['/apps/ecommerce/add-product']" class="btn btn-primary btn-sm me-2 text-nowrap"><i
                            class="ri-add-line me-1 fw-medium align-middle"></i>Add Product</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive mb-3">
                  <spk-reusable-tables  [columns]="TableDataHeader" tableClass=" text-nowrap" [showCheckbox]="true" class="productListTable"> 
                            @for (product of TableData; track $index) {
                            <tr class="product-list">
                              <td class="product-checkbox">
                                <input class="form-check-input" type="checkbox" [id]="product.id" value="" aria-label="...">
                              </td>
                              <td>
                                <div class="d-flex">
                                  <span class="avatar avatar-md avatar-square {{product.statusClass}} p-1">
                                    <img [src]="product.image" class="w-100 h-100" alt="...">
                                  </span>
                                  <div class="ms-2">
                                    <p class="fw-semibold mb-0 d-flex align-items-center">
                                      <a href="javascript:void(0);">{{ product.name }}</a>
                                    </p>
                                    <p class="fs-12 text-muted mb-0">{{ product.brand }}</p>
                                  </div>
                                </div>
                              </td>
                              <td><span>{{ product.category }}</span></td>
                              <td>{{ product.price }}</td>
                              <td>{{ product.stock }}</td>
                              <td><span class="badge" [ngClass]="product.statusClass">{{ product.status }}</span></td>
                              <td>
                                <div class="d-flex align-items-center fw-semibold">
                                  <span class="avatar avatar-sm p-1 bg-light me-2 avatar-rounded">
                                    <img [src]="product.seller.image" alt="">
                                  </span>
                                  <a href="javascript:void(0);">{{ product.seller.name }}</a>
                                </div>
                              </td>
                              <td>{{ product.date }}</td>
                              <td>
                                <div class="hstack gap-2 fs-15">
                                  <a [routerLink]="['/apps/ecommerce/edit-product']" class="btn btn-icon btn-sm btn-primary-light">
                                    <i class="ri-edit-line"></i>
                                  </a>
                                  <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-danger-light product-btn">
                                    <i class="ri-delete-bin-line"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                        }
                          
                  </spk-reusable-tables>
            </div>
            <div class="card-footer p-0 mb-2">
                <div class="d-flex align-items-center flex-wrap overflow-auto mt-3">
                    <div class="mb-2 mb-sm-0">
                        Showing <b>1</b> to <b>5</b> of <b>10</b> entries <i
                            class="bi bi-arrow-right ms-2 fw-semibold"></i>
                    </div>
                    <div class="ms-auto">
                        <ul class="pagination mb-0 overflow-auto">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item active" aria-current="page"><a class="page-link"
                                    href="javascript:void(0)">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-2 -->