  <!-- Start::row-1 -->
  <div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body p-4">
                <div class="card custom-card rounded shadow-none terms-main-card">
                    <div class="card-body text-center p-5">
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <div class="">
                                    <div class="text-fixed-white text-center">
                                        <p class="h4 mb-3 fw-semibold text-fixed-white">xAmplify Terms &amp;
                                            Conditions</p>
                                        <p class="fs-15 mb-0 op-8">Welcome to the xAmplify Admin Template. Please
                                            review the following basic terms &amp; conditions. Please note that
                                            your use of our template has some important terms to follow and
                                            adhere to.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <span class="d-block fw-medium text-primary fs-16">Last Updated - 21,May
                        2024</span>
                </div>
                <h5 class="fw-medium mb-3">Welcome to xAmplify,</h5>
                <p>These terms and conditions outline the rules and regulations for using our website.</p>

                <p>By accessing our site, you agree to comply with these terms and conditions. If you do not agree with any part of these terms, please do not continue to use Website Name.</p>
                 <p>Our website, like many interactive sites, uses cookies to enhance your experience. Cookies help us remember your details during your visits, enabling certain functionalities on our website. Additionally, some of our affiliate and advertising partners may also use cookies.</p>
                <ul class="terms-list list-unstyled mb-0">
                    <li>
                        <p class="mb-1"><strong>Acceptance of Terms :</strong></p> By using our
                        services, you agree to comply with these terms and any additional terms that may
                        apply.
                    </li>

                    <li>
                        <p class="mb-1"><strong>Eligibility :</strong></p> You must be at least 18 years
                        old to use our services. By using our services, you represent and warrant that
                        you meet this requirement.
                    </li>

                    <li>
                        <p class="mb-1"><strong>Account Registration :</strong></p> To access certain
                        features of our services, you may be required to register for an account. You
                        agree to provide accurate and complete information during the registration
                        process.
                    </li>

                    <li>
                        <p class="mb-1"><strong>User Conduct :</strong></p> You are solely responsible
                        for your conduct while using our services. Unacceptable behavior, including but
                        not limited to harassment, abuse, or violation of third-party rights, may result
                        in the suspension or termination of your account.
                    </li>

                    <li>
                        <p class="mb-1"><strong>Intellectual Property :</strong></p> All content,
                        trademarks, and intellectual property on our website are owned by [Your Company
                        Name]. You may not use, reproduce, or distribute any content from our services
                        without our prior written consent.
                    </li>

                    <li>
                        <p class="mb-1"><strong>Privacy :</strong></p> We are committed to protecting
                        your privacy. Our Privacy Policy explains how we collect, use, and disclose your
                        information. By using our services, you consent to the practices outlined in the
                        Privacy Policy.
                        <ul class="mt-2">
                            <li>We may collect personal information, such as your name, email address,
                                and location, to provide a personalized experience.</li>
                            <li>Your information will not be shared with third parties without your
                                explicit consent.</li>
                            <li>We use cookies to enhance user experience and track website usage.</li>
                        </ul>
                    </li>

                    <li>
                        <p class="mb-1"><strong>Termination :</strong></p> We reserve the right to
                        terminate or suspend your account at any time for any reason without notice.
                    </li>

                    <li>
                        <p class="mb-1"><strong>Disclaimer :</strong></p> Our services are provided "as
                        is" without warranties of any kind. We do not guarantee the accuracy,
                        completeness, or reliability of the content on our website. Use information at
                        your own risk.
                        <ul class="mt-2">
                            <li>This includes but is not limited to:</li>
                            <li>Any errors or omissions in the content</li>
                            <li>Any loss or damage of any kind incurred as a result of the use of the
                                content</li>
                            <li>Any unauthorized access to or use of our servers and/or any personal
                                information stored therein</li>
                        </ul>
                    </li>

                    <li>
                        <p class="mb-1"><strong>Changes to Terms :</strong></p> We may update these
                        terms and conditions from time to time. Any changes will be effective
                        immediately upon posting. It is your responsibility to review the terms
                        periodically.
                    </li>

                    <li>
                        <p class="mb-1"><strong>Contact :</strong></p> If you have any questions or
                        concerns regarding these terms, please contact us at [Your Contact Email].
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="d-flex gap-2 align-items-center justify-content-end">
                    <button class="btn btn-outline-danger">Decline</button>
                    <button class="btn btn-primary">Accept</button>
                </div>
               </div>
        </div>
    </div>
</div>

