<!-- Start Row-1 -->
<div class="row">
    <div class="col-xxl-6">
        <div class="card custom-card overflow-hidden podcast-banner">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-xl-9 my-auto">
                        <h3 class="fw-semibold text-fixed-white">
                            Exploring Music Distribution Options
                        </h3>
                        <span class="d-block text-fixed-white op-8 fw-meidum fs-15 mb-4">Dive into an array of music distribution platforms tailored to amplify your podcast's unique sound. Explore innovative avenues.</span>
                        <div class="d-flex align-items-center gap-4 mb-5">
                            <a href="javascript:void(0);" class="fs-13 op-8 fw-semibold d-flex align-items-center gap-2 text-fixed-white"><i class="ri-play-circle-fill text-primary fs-5 align-middle lh-1"></i>18,000 Plays</a>
                            <a href="javascript:void(0);" class="fs-13 op-8 fw-semibold d-flex align-items-center gap-2 text-fixed-white"><i class="ri-customer-service-fill text-primary fs-5 align-middle lh-1"></i>265 Currently Listening</a>
                        </div>
                        <div class="btn-list">
                            <button type="button" class="btn btn-primary"><i class="ri-headphone-line me-2"></i> Listen Now</button>
                            <button type="button" class="btn btn-outline-primary"><i class="ri-heart-3-line me-2"></i>Add To Favourites</button>
                        </div>
                    </div>
                    <div class="col-xl-3 my-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">Top Podcasters</div>
                <button class="btn btn-light btn-sm" type="button">View All</button>
            </div>
            <div class="card-body">
                <ul class="list-unstyled podcasters">
                    @for (podcaster of Podcaster; track $index) {
                    <li>
                      <div class="d-flex align-items-center flex-wrap">
                        <div class="me-2 lh-1">
                          <span class="avatar avatar-sm avatar-rounded">
                            <img [src]="podcaster.avatar" alt="" />
                          </span>
                        </div>
                        <div class="flex-fill">
                          <span class="fs-14 d-block mb-0 fw-semibold">{{ podcaster.name }}</span>
                          <span class="text-muted fs-12">{{ podcaster.followers }}</span>
                        </div>
                        <div>
                          <button type="button" class="btn btn-sm btn-primary-light">Follow</button>
                        </div>
                      </div>
                    </li>
                }
                  </ul>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                     Recently Played
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled podcast-recently-played-list">
                    @for (podcast of RecentlyPlayedPodcasts; track $index) {
                    <li>
                      <div class="d-flex align-items-center gap-2">
                        <div class="lh-1">
                          <span class="avatar avatar-md">
                            <img [src]="podcast.avatar" alt="" />
                          </span>
                        </div>
                        <div class="flex-fill">
                          <a href="javascript:void(0);" class="fw-semibold">{{ podcast.title }}</a>
                          <span class="d-block fs-13 text-muted">{{ podcast.host }}</span>
                        </div>
                        <div class="text-end">
                          <a href="javascript:void(0);" class="fw-medium" [ngClass]="podcast.isFavorite ? 'text-danger' : 'text-gray-3'">
                            <i class="ri-heart-fill fs-18 lh-1"></i>
                          </a>
                          <span class="d-block fs-13 text-muted">{{ podcast.duration }}</span>
                        </div>
                      </div>
                    </li>
                }
                  </ul>
            </div>
        </div>
    </div>
</div>
<!-- End::Row-1 -->

<!-- Start::Row-2 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Categories
                </div>
                <spk-dropdowns [Customclass]="'dropdown'"
                [class]="'btn btn-sm btn-light btn-icon no-caret'" [Icon]="true"
                [IconClass]="'fe fe-more-vertical'" [Menuclass]="'dropdown-menu'">
                <li><a class="dropdown-item" href="javascript:void(0);">Download</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Import</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Export</a></li>
            </spk-dropdowns>
            </div>
            <div class="card-body">
                <div class="row gy-3 personal-favourite-contacts mb-0">
                    @for (category of PodcastCategory; track $index) {
                    <div class="col">
                                <div class="d-flex align-items-center bg-light rounded-1 p-2">
                                    <div class="me-2">
                                      <span class="avatar avatar-lg bg-light p-2">
                                        <img [src]="category.imageUrl" alt="" class="rounded-0" />
                                      </span>
                                    </div>
                                    <div class="flex-fill">
                                      <span class="fw-semibold d-block mb-0">{{ category.title }}</span>
                                      <span class="text-muted d-block fs-12 mb-0">{{ category.count }}</span>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::Row-2 -->

<!-- Start::Row-3 -->
<div class="row">
    <div class="col-xxl-9">
        <div class="mb-4 d-flex align-items-center justify-content-between">
            <h6 class="mb-0 fw-semibold">Most Popular </h6>
            <div>
                <button type="button" class="btn btn-sm btn-primary-light ">View All</button>
            </div>
        </div>
        <div class="row">
            @for (podcast of PodcastCard; track $index) {
            <div class="col-xl-6" >
                <div class="card custom-card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <img [src]="podcast.avatar" alt="img" class="avatar avatar-xxl me-3">
                      <div class="w-100">
                        <div class="d-flex align-items-start justify-content-between mb-4">
                          <div>
                            <a href="javascript:void(0);">
                              <h6 class="fw-semibold mb-0">{{ podcast.title }}</h6>
                            </a>
                            <span class="text-muted fs-12">By {{ podcast.host }}</span>
                          </div>
                          <spk-dropdowns [Customclass]="'dropdown'"
                [class]="'btn btn-light btn-sm btn-icon no-caret'" [Icon]="true"
                [IconClass]="'ri-more-2-fill text-muted'" [Menuclass]="'dropdown-menu'">
                <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li>
                              <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li>
                              <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li>
            </spk-dropdowns>
                        </div>
                        <div class="d-flex align-items-end justify-content-between flex-wrap gap-2">
                          <button aria-label="button" type="button" class="btn btn-primary-transparent btn-sm py-0 px-2">
                            <i class="ri-play-fill me-1"></i> Listen Now
                          </button>
                          <div class="d-flex align-items-center gap-3 lh-1">
                            <span class="d-block d-flex align-items-center gap-2 text-muted fs-12 lh-1">
                              <i class="ri-time-line lh-1 align-middle fs-14"></i>{{ podcast.duration }}
                            </span>
                            <span class="d-block d-flex align-items-center gap-2 fs-14 fw-semibold lh-1">
                              <i class="ri-volume-up-line lh-1 align-middle fs-14"></i>{{ podcast.listens | number }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
              
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="card custom-card border-0 shadow-none">
            <div class="card-body p-4">
                <div class="d-flex align-items-start gap-3 mb-4">
                    <div class="flex-fill">
                        <span class="fw-semibold d-block">PLAYING NOW</span>
                    </div>
                    <div>
                        <a aria-label="anchor" href="javascript:void(0);">
                            <i class="ri-heart-fill fs-4 lh-1 text-danger"></i>
                        </a>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <span class="mb-3 podcast-playing-now">
                        <img src="./assets/images/podcast/15.jpg" alt="" class="w-100">
                    </span>
                    <a href="javascript:void(0);"><h6 class="fw-semibold mb-1">Echoes of Eternity</h6></a>
                    <span class="text-muted op-8 fs-12">By Alice Mumbleton</span>
                </div>
                <div class="d-flex gap-3 align-items-center mb-4 pt-1">
                    <div class="fs-12">12.25</div>
                    <div class="progress progress-xs progress-custom progress-animate podcast-playing-progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary" style="width: 50%">
                        </div>
                    </div>
                    <div class="fs-12">23.45</div>
                </div>
                <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 lh-1">
                    <a aria-label="anchor" href="javascript:void(0);">
                        <i class="ri-repeat-2-fill fs-5"></i>
                    </a>
                    <a aria-label="anchor" href="javascript:void(0);">
                        <i class="ri-skip-back-fill fs-5"></i>
                    </a>
                    <a aria-label="anchor" href="javascript:void(0);">
                        <i class="ri-play-fill fs-2"></i>
                    </a>
                    <a aria-label="anchor" href="javascript:void(0);">
                        <i class="ri-skip-forward-fill fs-5"></i>
                    </a>
                    <a aria-label="anchor" href="javascript:void(0);">
                        <i class="ri-shuffle-fill fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::Row-3 -->

<!-- Start::Row-4 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Recently Played
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <div>
                        <input class="form-control" type="text" placeholder="Search Here" aria-label=".form-control-sm example">
                    </div>
                    <spk-dropdowns [Customclass]="'dropdown'" [title]="'Sort By'"
                [class]="'btn btn-primary btn-sm btn-wave waves-effect waves-light no-caret'" [Icon]="true" 
                [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" [Menuclass]="'dropdown-menu'">
                <li><a class="dropdown-item" href="javascript:void(0);">New</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li>
            </spk-dropdowns>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <spk-reusable-tables [columns]="podcastColumn" tableClass="table text-nowrap"  [showCheckbox]="false">
                        @for(podcast of podcastsData;track $index){ 
                            <tr>
                                <td>
                                  <div class="d-flex gap-2">
                                    <span class="avatar avatar-md"><img [src]="podcast.avatar" alt="..." /></span>
                                    <div>
                                      <a href="javascript:void(0);" class="fw-semibold mb-0 d-flex align-items-center">{{ podcast.title }}</a>
                                      <span class="fs-12 d-block text-muted">{{ podcast.host }}</span>
                                    </div>
                                  </div>
                                </td>
                                <td>{{ podcast.duration }}</td>
                                <td>
                                  <span class="badge {{podcast.categoryClass}}">{{ podcast.category }}</span>
                                </td>
                                <td>{{ podcast.episode }}</td>
                                <td>{{ podcast.episodeDuration }}</td>
                                <td>
                                  <a aria-label="anchor" href="javascript:void(0);">
                                    <i class="ri-heart-fill fs-4 lh-1" [ngClass]="podcast.isFavorite ? 'text-danger' : 'text-muted'"></i>
                                  </a>
                                </td>
                                <td>
                                   <spk-dropdowns [Customclass]="'dropdown'"
                [class]="'btn btn-sm btn-light btn-icon no-caret'" [Icon]="true"
                [IconClass]="'fe fe-more-vertical'" [Menuclass]="'dropdown-menu'">
                <li><a class="dropdown-item" href="javascript:void(0);">Download</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Import</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Export</a></li>
            </spk-dropdowns>
                                </td>
                              </tr>
                        }
                        </spk-reusable-tables>
                </div>
            </div>
            <div class="card-footer border-top-0">
                <div class="d-flex align-items-center">
                    <div> Showing 5 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
                    <div class="ms-auto">
                    <nav aria-label="Page navigation" class="pagination-style-4">
                        <ul class="pagination mb-0">
                            <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::Row-4 -->