 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xxl-8">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body pb-0">
                        <a href="javascript:void(0);">
                            <img src="./assets/images/media/blog/19.jpg" class="card-img rounded blog-details-img" alt="...">
                        </a>
                        <div class="d-flex align-items-center justify-content-between mb-3 mt-3 flex-wrap gap-2">
                            <p class="h5 fw-semibold mb-0">Virtual Reality and Art: Creating Immersive Experiences</p>
                            <div class="d-flex align-items-center">
                                <span class="avatar avatar-sm avatar-rounded me-2 p-1 bg-gray-300">
                                    <img src="./assets/images/faces/12.jpg" alt="">
                                </span>
                                <div>
                                    <p class="mb-0 fw-medium">Christopher - <span class="fs-12 text-muted fw-normal">Tue,25 Dec 2024 - 11:45</span></p>
                                    <p class="mb-0 text-muted"></p>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-cneter">
                            <div class="btn-list mt-sm-0 mt-2 blog-icons">
                                <button class="btn rounded-pill btn-sm btn-primary btn-wave" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Like"><i class="ri-thumb-up-line me-1"></i>Like</button>
                                <button class="btn rounded-pill btn-sm btn-secondary btn-wave" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Share"><i class="ri-share-line me-1"></i>Share</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 pt-0">
                        <h6 class="fw-semibold">
                            The Evolution of Art in the Digital Age
                        </h6>
                        <p class="mb-4">
                            With the advent of digital tools, artists have been able to push the limits of their creativity. VR represents the next step in this evolution, allowing for the creation of art that is not only seen but also experienced.
                        </p>
                        <p class="mb-4">
                            <span class="h6 fw-semibold">Creating Immersive Art -</span> VR offers artists a vast array of tools and techniques to create immersive experiences. From 3D modeling software to real-time rendering engines, this section delves into the technologies that are enabling artists to craft virtual worlds.
                        </p>
                        <p class="mb-2">
                            <span class="h6 fw-semibold">The Future of Art -</span> What does the future hold for art in the age of VR? This section speculates on how virtual reality might continue to evolve and influence the art world. We’ll discuss potential trends, such as the integration of AI.
                        </p>
                        <p class="mb-4">Virtual Reality (VR) is transforming the art world, offering artists and audiences new ways to create, experience, and interact with art. By merging technology with creativity, VR has opened up possibilities for immersive experiences that go beyond traditional boundaries.</p>
                        <blockquote class="blockquote custom-blockquote blog-blockquote primary mb-4 text-center">
                            <h6 class="lh-base">While VR offers exciting possibilities, it also presents unique challenges for artists. This section addresses the technical, creative, and logistical obstacles that come with working in virtual reality...</h6>
                            <footer class="blockquote-footer mt-3 fs-14 text-muted mb-0">Someone famous as <cite title="Source Title">- Maxwell Quasar</cite></footer>
                            <span class="quote-icon"><i class="ri-chat-quote-fill"></i></span>
                        </blockquote>
                        <p class="mb-0">
                            From enchanting nature's beauty quotes that evoke visions of lush meadows full of brilliantly-colored flowers or dense forests with sky-high trees to famous quotes about nature's ever-present—and absolutely fundamental—role in our lives, these 101 quotes about nature will have you itching to get off your couch and get outside. For famous <b>quotes about nature</b>, we have them here!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header">
                        <div class="card-title">
                            Comments
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush" id="blog-details-comment-list">
                            @for(comment of comments;track $index){
                                <li  class="list-group-item border-0 border-bottom">
                                    <div class="d-flex align-items-start gap-3 flex-wrap">
                                      <div>
                                        <span class="avatar avatar-lg avatar-rounded p-1 bg-light border">
                                          <img [src]="comment.avatar" alt="">
                                        </span>
                                      </div>
                                      <div class="flex-fill w-50">
                                        <div class="p-3 bg-light border rounded">
                                          <span class="fw-medium d-block mb-1">{{ comment.user }}</span>
                                          <span class="d-block mb-3 text-muted">{{ comment.commentText }}</span>
                                          <div class="btn-list">
                                            <button class="btn btn-sm btn-primary-light btn-wave">Reply<i class="ri-reply-line ms-1"></i></button>
                                            <button class="btn btn-sm btn-secondary-light btn-wave">Report<i class="ri-error-warning-line ms-1"></i></button>
                                          </div>
                                        </div>
                                        
                                        <!-- Replies Section -->
                                         @for(reply of comment.replies;track $index){
                                            <div class="list-group-item border-0 pe-0 pb-0">
                                                <div class="d-flex align-items-start gap-3 flex-wrap">
                                                  <div>
                                                    <span class="avatar avatar-lg avatar-rounded p-1 bg-light border">
                                                      <img [src]="reply.avatar" alt="">
                                                    </span>
                                                  </div>
                                                  <div class="flex-fill w-50">
                                                    <div class="p-3 bg-light border rounded">
                                                      <span class="fw-medium d-block mb-1">{{ reply.user }}</span>
                                                      <span class="d-block mb-3 text-muted">{{ reply.commentText }}</span>
                                                      <div class="btn-list">
                                                        <button class="btn btn-sm btn-primary-light btn-wave">Reply<i class="ri-reply-line ms-1"></i></button>
                                                        <button class="btn btn-sm btn-secondary-light btn-wave">Report<i class="ri-error-warning-line ms-1"></i></button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                         }
                                      </div>
                                    </div>
                                  </li>
                            }
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Recent Posts
                        </div>
                        <a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            @for(blog of blogs;track $index){
                                <li class="list-group-item">
                                  <div class="d-flex gap-3 flex-wrap align-items-center">
                                    <span class="avatar avatar-xl">
                                      <img [src]="blog.image" class="img-fluid" alt="...">
                                    </span>
                                    <div class="flex-fill">
                                      <a href="javascript:void(0);" class="mb-0 badge" class="bg-{{blog.badgeColor}}-transparent">
                                        {{ blog.category }}
                                      </a>
                                      <p class="mb-1 popular-blog-content text-truncate fw-medium">
                                        {{ blog.title }}
                                      </p>
                                      <span class="text-muted fs-12">{{ blog.timestamp }}</span>
                                    </div>
                                    <div>
                                      <a href="javascript:void(0);" class="text-primary text-decoration-underline">View All</a>
                                    </div>
                                  </div>
                                </li>
                            }
                          </ul>
                          
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                          Explore Topics
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group blog-list-group">
                            @for(category of categories;track $index){
                                <spk-blog-category-card
                                [icon]="category.iconClass"
                                [categoryName]="category.name"
                                [itemCount]="category.itemsCount"
                                [badgeClass]="category.badgeClass"
                                >
                              </spk-blog-category-card>
                            }
                          </ul>
                          
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                         Popular Tags
                        </div>
                    </div>
                    <div class="card-body">
                        <spk-tags [tags]="tags"></spk-tags>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Gallery
                        </div>
                    </div>
                    <div class="card-body">
                        <spk-gallery  [mainClass]="'row gy-3'" [colClass]="'col-lg-3 col-md-4 col-sm-6 col-6'" [imageData]="imageData"></spk-gallery>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card p-3">
                    <div class="card-body p-4 bg-light border">
                        <div class="text-center">
                            <label class="form-check-label mb-3">
                                Subscribe to get updates about latest News & Posts
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" placeholder="Email Here" aria-label="blog-email" aria-describedby="blog-subscribe">
                                <button class="btn btn-primary btn-wave" type="button" id="blog-subscribe">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Leave a comment
                </div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-6">
                        <label for="blog-first-name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="blog-first-name" placeholder="Enter Name">
                    </div>
                    <div class="col-xl-6">
                        <label for="blog-last-name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="blog-last-name" placeholder="Enter Name">
                    </div>
                    <div class="col-xl-12"> 
                        <label for="blog-email" class="form-label">Email ID</label>
                        <input type="text" class="form-control" id="blog-email" placeholder="Enter Email">
                    </div>
                    <div class="col-xl-12">
                        <label for="blog-comment" class="form-label">Write Comment</label>
                        <textarea class="form-control" id="blog-comment" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-end">
                    <button class="btn btn-primary-light">Post Comment</button>
                </div>
            </div>
        </div>
    </div>
</div>