<div class="container-lg">
    <!-- Start::row-1 -->
    <div class="row justify-content-center">
        <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled mb-0 notification-container">
                <li>
                    <div class="card custom-card un-read">
                        <div class="top-left"></div>
                        <div class="bottom-left"></div>
                        <div class="bottom-right"></div>
                        <div class="top-right"></div>
                        <div class="card-body p-3">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md online me-3 avatar-rounded">
                                            <img alt="avatar" src="./assets/images/faces/4.jpg">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-start">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Violet Mila</p>
                                                <p class="mb-0 text-muted fs-14">Informing you that an email registration has been sent to your alternative email<span class="badge bg-primary-transparent fw-semibold mx-1">Isabella&#64;gmail.com</span> soon.</p>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="btn btn-danger-transparent btn-icon btn-sm border-0">
                                                    <i class="ri-delete-bin-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="mb-0 d-block text-muted fs-12"><i class="ri-time-line me-1 d-inline-block"></i>10 mins ago</span>
                                            <div class="ms-auto">
                                                <span class="badge bg-light text-muted">
                                                    20,Jan 2024
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card custom-card un-read">
                        <div class="top-left"></div>
                        <div class="bottom-left"></div>
                        <div class="bottom-right"></div>
                        <div class="top-right"></div>
                        <div class="card-body p-3">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md offline me-3 avatar-rounded">
                                            <img alt="avatar" src="./assets/images/faces/15.jpg">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Daniel Jim</p>
                                                <p class="mb-0 text-muted fs-14">The project work is scheduled, and it is listed in the individual work area.</p>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="btn btn-danger-transparent btn-icon btn-sm border-0">
                                                    <i class="ri-delete-bin-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="mb-0 d-block text-muted fs-12"><i class="ri-time-line me-1 d-inline-block"></i>1 hr ago</span>
                                            <div class="ms-auto">
                                                <span class="badge bg-light text-muted">
                                                    20, Jan 2024
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card custom-card un-read">
                        <div class="top-left"></div>
                        <div class="bottom-left"></div>
                        <div class="bottom-right"></div>
                        <div class="top-right"></div>
                        <div class="card-body p-3">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md offline me-3 avatar-rounded">
                                            <img alt="avatar" src="./assets/images/faces/11.jpg">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Oliver Ronald</p>
                                                <p class="mb-0 text-muted fs-14">Some files are <span class="badge bg-danger-transparent fw-semibold mx-1">corrupted</span>. Please address the issue promptly.</p>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="btn btn-danger-transparent btn-icon btn-sm border-0">
                                                    <i class="ri-delete-bin-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="mb-0 d-block text-muted fs-12"><i class="ri-time-line me-1 d-inline-block"></i>1 day ago</span>
                                            <div class="ms-auto">
                                                <span class="badge bg-light text-muted">
                                                    19, Jan 2024
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card custom-card un-read">
                        <div class="top-left"></div>
                        <div class="bottom-left"></div>
                        <div class="bottom-right"></div>
                        <div class="top-right"></div>
                        <div class="card-body p-3">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md online me-3 avatar-rounded">
                                            <img alt="avatar" src="./assets/images/faces/5.jpg">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Artha Ava</p>
                                                <p class="mb-0 text-muted fs-14">Project has been <span class="badge bg-success-transparent">approved</span> for initiation. This is a significant milestone. </p>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="btn btn-danger-transparent btn-icon btn-sm border-0">
                                                    <i class="ri-delete-bin-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="mb-0 d-block text-muted fs-12"><i class="ri-time-line me-1 d-inline-block"></i>2 days ago</span>
                                            <div class="ms-auto">
                                                <span class="badge bg-light text-muted">
                                                    19, Jan 2024
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card custom-card un-read">
                        <div class="top-left"></div>
                        <div class="bottom-left"></div>
                        <div class="bottom-right"></div>
                        <div class="top-right"></div>
                        <div class="card-body p-3">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                    <div class="avatar avatar-md bg-primary online me-3 avatar-rounded">
                                        KZ
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold"> Kelvin Zen</p>
                                                <p class="mb-0 text-muted fs-14">Our security systems have detected an unusual activity on your account. <i class="ri-error-warning-line text-warning"></i></p>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="btn btn-danger-transparent btn-icon btn-sm border-0">
                                                    <i class="ri-delete-bin-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="mb-0 d-block text-muted fs-12"><i class="ri-time-line me-1 d-inline-block"></i>5 days ago</span>
                                            <div class="ms-auto">
                                                <span class="badge bg-light text-muted">
                                                    15, Jan 2024
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card custom-card un-read">
                        <div class="top-left"></div>
                        <div class="bottom-left"></div>
                        <div class="bottom-right"></div>
                        <div class="top-right"></div>
                        <div class="card-body p-3">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                    <div class="avatar avatar-md online me-3 avatar-rounded">
                                        <img alt="avatar" src="./assets/images/faces/2.jpg">
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Ellie Lily</p>
                                                <p class="mb-0 text-muted fs-14"><span class="fw-medium text-info fs-13">Change Password:</span> Change your account password periodically.</p>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="btn btn-danger-transparent btn-icon btn-sm border-0">
                                                    <i class="ri-delete-bin-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="mb-0 d-block text-muted fs-12"><i class="ri-time-line me-1 d-inline-block"></i>1 Month ago</span>
                                            <div class="ms-auto">
                                                <span class="badge bg-light text-muted">
                                                    12, Dec 2023
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    </div>
                </li>
            </ul>
            <div class="text-center">
                <button class="btn btn-info-transparent btn-loader my-3 mx-auto">
                    <span class="me-2">Loading</span>
                    <span class="loading"><i class="ri-loader-4-line fs-16"></i></span>
                </button>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
</div>