<!-- Start:: row-1 -->
<div class="row">
  <div class="col-xl-6">
    <app-showcode-card [title]="'Live example'" [prism]="prismCode.toasts1">
      <button type="button" [class]="'btn btn-primary btn-wave'" id="liveToastBtn" (click)="showToast()">
        Show live toast
      </button>
      <div class="toast-container position-fixed top-0 end-0 p-3">
        @for (toast of toasts; track toast) {
        <spk-toast [autohide]="true" content=" Hello, world! This is a toast message"></spk-toast>
        }
      </div>
    </app-showcode-card>
    <app-showcode-card [title]="'Color schemes'" [prism]="prismCode.toasts2">
      @if (show11) {
      <spk-toast [buttonClass]="'toast align-items-center text-bg-primary border-0 mb-4'" (click)="show11 = false"
        btnClass="btn-close btn-close-white me-2 m-auto" content1="Hello, world! This is a toast message."
        [autohide]="false"></spk-toast>
      }
      @if (show12) {
      <spk-toast [buttonClass]="'toast align-items-center text-bg-secondary border-0 mb-4'" (click)="show12 = false"
        btnClass="btn-close btn-close-white me-2 m-auto" content1="Hello, world! This is a toast message."
        [autohide]="false"></spk-toast>
      }
      @if (show13) {
      <spk-toast [buttonClass]="'toast align-items-center text-bg-info border-0 mb-4'" (click)="show13 = false"
        btnClass="btn-close btn-close-white me-2 m-auto" content1="Hello, world! This is a toast message."
        [autohide]="false"></spk-toast>
      }
      @if (show14) {
      <spk-toast [buttonClass]="'toast align-items-center text-bg-warning border-0 mb-4'" (click)="show14 = false"
        btnClass="btn-close btn-close-white me-2 m-auto" content1="Hello, world! This is a toast message."
        [autohide]="false"></spk-toast>
      }

    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'Basic example'" [prism]="prismCode.toasts3" classbody="basitoastbody">
      <spk-toast (hide)="show = false" [autohide]="false" content=" Hello, world! This is a toast message"></spk-toast>
    </app-showcode-card>
    <app-showcode-card [title]="'Stacking'" [prism]="prismCode.toasts4" classbody="stackingbody">
      <div class="toast-container position-static">
        <spk-toast buttonClass="mb-3" (hide)="show = false" [autohide]="false"
          content="See? Just like this."></spk-toast>
        <spk-toast buttonClass="mb-3" (hide)="show = false" [autohide]="false"
          content="Heads up, toasts will stack automatically"></spk-toast>
      </div>
    </app-showcode-card>
  </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <app-showcode-card [title]="'Translucent'" [prism]="prismCode.toasts5">
          @if (show1) {
          <spk-toast [autohide]="false" content=" Hello, world! This is a toast message"></spk-toast>
          }
        </app-showcode-card>
        <app-showcode-card [title]="'Custom content'" [prism]="prismCode.toasts6">
          @if (show17) {
            <spk-toast (click)="show17 = false"  [buttonClass]="'toast align-items-center fade show mb-3'"
              content1="Hello, world! This is a toast message." [autohide]="false"></spk-toast>
          }
            <div>
              <span class="my-4 text-muted">
                Alternatively, you can also add additional controls and components to
                toasts.
              </span>
            </div>
            @if(show10){
            <spk-toast [buttonClass]="'toast fade show'" content="Your,toast message here." [autohide]="false">
              Hello, world! This is a toast message.
              <div class="mt-2 pt-2 border-top">
                <button type="button" [class]="'btn btn-primary btn-sm btn-wave me-2'">
                  Take action
                </button>
                <button type="button" [class]="'btn btn-secondary btn-sm btn-wave'" data-bs-dismiss="toast"
                  (click)="show10 = false">
                  Close
                </button>
              </div>
            </spk-toast>
            }
          </app-showcode-card>
      </div>
      <div class="col-xl-6">
        <app-showcode-card [title]="'Aligning Toast Using Flexbox'" [prism]="prismCode.toasts10">
          <div class="bd-example bg-light bd-example-toasts aligning-toasts px-2 d-flex align-items-center justify-content-center">
          <spk-toast (hide)="show = false" [autohide]="false" content=" Hello, world! This is a toast message"></spk-toast>
          </div>
        </app-showcode-card>
        <div class="card custom-card">
            <div class="card-header">
              <div class="card-title"> TOASTIFY JS </div>
            </div>
            <div class="card-body">
              <button (click)="SolidToastjs()"
                [class]="'btn btn-primary-gradient btn-wave waves-effect waves-light'" id="toast-button">Click For Live
                Toast</button>
                <div class="toast-container position-fixed top-0 end-0 p-3">
                @for (toast of toastsK; track toast) {
                  @if (show15) {
                    <spk-toast [buttonClass]="'toast colored-toast bg-primary-gradient toastify-js text-fixed-white mb-2'" (click)="show15 = false"
                      btnClass="btn-close btn-close-white me-2 m-auto" content1="I'm a toast Message"
                      [autohide]="false"></spk-toast>
                    }
                  }
                  </div>
            </div>
          </div>
      </div>
</div>
<!-- End:: row-1 -->
<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-6">
        <app-showcode-card [title]="'Color Variants Live'" [prism]="prismCode.toasts7">
          <div class="btn-list">
            <button type="button" [class]="'btn btn-primary-light me-2 btn-wave mb-2'" id="primaryToastBtn"
              (click)="showToastprimary()">
              Primary
            </button>
            <button type="button" [class]="'btn btn-secondary-light me-2 btn-wave mb-2'" id="secondaryToastBtn"
              (click)="showToastseconday()">
              secondary
            </button>
            <button type="button" [class]="'btn btn-warning-light me-2 btn-wave mb-2'" id="warningToastBtn"
              (click)="showToastwarning()">
              warning
            </button>
            <button type="button" [class]="'btn btn-info-light me-2 btn-wave mb-2'" id="infoToastBtn" (click)="showToastinfo()">
              info
            </button>
            <button type="button" [class]="'btn btn-success-light me-2 btn-wave mb-2'" id="successToastBtn"
              (click)="showToastsuccess()">
              success
            </button>
            <button type="button" [class]="'btn btn-danger-light me-2 btn-wave mb-2'" id="dangerToastBtn"
              (click)="showToastdanger()">
              danger
            </button>
          </div>
          <div class="toast-container position-fixed top-0 end-0 p-3">
            @for (toast of toasts1; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts16; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-primary1-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts17; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-primary2-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts18; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-primary3-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts2; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-secondary-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts3; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-warning-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts4; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-info-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts5; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-success-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
            @for (toast of toasts6; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-danger-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
            }
          </div>
        </app-showcode-card>
      </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'Solid Background Toasts'" [prism]="prismCode.toasts8" classbody="bgtoastbody">
      <div class="btn-list">
        <button type="button" [class]="'btn btn-primary me-2 btn-wave mb-2'" id="solidprimaryToastBtn"
          (click)="SolidToastprimary()">
          Primary
        </button>
        <button type="button" [class]="'btn btn-secondary me-2 btn-wave mb-2'" id="solidsecondaryToastBtn"
          (click)="SolidToastsecondary()">
          secondary
        </button>
        <button type="button" [class]="'btn btn-warning me-2 btn-wave mb-2'" id="solidsecondaryToastBtn"
          (click)="SolidToastwarning()">
          Warning
        </button>
        <button type="button" [class]="'btn btn-info me-2 btn-wave mb-2'" id="solidinfoToastBtn" (click)="SolidToastinfo()">
          info
        </button>
        <button type="button" [class]="'btn btn-success me-2 btn-wave mb-2'" id="solidsuccessToastBtn"
          (click)="SolidToastsuccess()">
          success
        </button>
        <button type="button" [class]="'btn btn-danger me-2 btn-wave mb-2'" id="soliddangerToastBtn"
          (click)="SolidToastdanger()">
          danger
        </button>
      </div>
      <div class="toast-container position-fixed top-0 end-0 p-3">
        @for (toast of toastsA; track toast) {
        <spk-toast [buttonClass]="'toast colored-toast bg-primary text-fixed-white mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
        @for (toast of toastsB; track toast) {
        <spk-toast [buttonClass]="'toast colored-toast bg-secondary text-fixed-white mb-2'"
          content="Your,toast message here." [autohide]="true"></spk-toast>
        } @for (toast of toastsC; track toast) {
        <spk-toast [buttonClass]="'toast colored-toast bg-warning text-fixed-white mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        } @for (toast of toastsD; track toast) {
        <spk-toast [buttonClass]="'toast colored-toast bg-info text-fixed-white mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        } @for (toast of toastsE; track toast) {
        <spk-toast [buttonClass]="'toast colored-toast bg-success text-fixed-white mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        } @for (toast of toastsF; track toast) {
        <spk-toast [buttonClass]="'toast colored-toast bg-danger text-fixed-white mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
    </app-showcode-card>
  </div>
  
</div>
<!-- End:: row-2 -->
<!-- Start:: row-3 -->
<div class="row">
  <div class="col-xl-12">
    <app-showcode-card [title]="'Toast Placements'" [prism]="prismCode.toasts9">
      <div class="btn-list">
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="topleftToastBtn" (click)="TopLeft()">Top
          Left</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="topcenterToastBtn"
          (click)="TopCenter()">Top Center</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="toprightToastBtn"
          (click)="TopRight()">Top Right</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="middleleftToastBtn"
          (click)="MiddleLeft()">Middle Left</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="middlecenterToastBtn"
          (click)="MiddleCenter()">Middle Center</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="middlerightToastBtn"
          (click)="MiddleRight()">Middle Right</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="bottomleftToastBtn"
          (click)="BottomLeft()">Bottom Left</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="bottomcenterToastBtn"
          (click)="BottomCenter()">Bottom Center</button>
        <button type="button" class="btn btn-outline-primary me-2 btn-wave mb-2" id="bottomrightToastBtn"
          (click)="BottomRight()">Bottom Right</button>
      </div>
      <div class="toast-container position-fixed top-0 start-0 p-3">
        @for (toast of toasts7; track toast) {
            <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
              [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed top-0 start-50  translate-middle-x p-3">
        @for (toast of toasts8; track toasts8) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed top-0 end-0 p-3">
        @for (toast of toasts9; track toasts9) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed top-50 start-0 translate-middle-y p-3">
        @for (toast of toasts10; track toasts10) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed top-50 start-50 translate-middle">
        @for (toast of toasts11; track toasts11) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed top-50 end-0 translate-middle-y p-3">
        @for (toast of toasts12; track toasts12) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed bottom-0 start-0 p-3">
        @for (toast of toasts13; track toasts13) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
        @for (toast of toasts14; track toasts14) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        @for (toast of toasts15; track toasts15) {
          <spk-toast [buttonClass]="'toast colored-toast bg-primary-transparent mb-2'" content="Your,toast message here."
          [autohide]="true"></spk-toast>
        }
      </div>
    </app-showcode-card>
  </div>
</div>
<!-- End:: row-3 -->