@use "../variables";
/* Start::task-kanboard-board */
.ZYNIX-kanban-board {
    display: flex;
    overflow-x: auto;
    align-items: stretch;
    margin-bottom: 0.75rem;
    padding-bottom: 1rem;
    .kanban-tasks-type {
        min-width: 20rem;
        margin-inline-end: 0.75rem;
        width: 100%;
        .kanban-tasks{
            .card {
                touch-action: none;
            }
        }
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--dark-rgb), 0.1);
        border-radius: .3125rem;
    }
    &::-webkit-scrollbar-track {
        border-radius: .3125rem;
    }
    .task-image {
        .kanban-image {
            height: 150px;
            width: 100%;
        }
    } 
    .kanban-content {
        margin-top: 0.75rem;
    }
    .kanban-task-description {
        font-size: 0.82rem;
    }
    .kanban-tasks-type {
        &.new {
            .kanban-tasks .card {
                border: 1px solid rgba(var(--primary-rgb),0.3);
                .badge {
                    background-color: rgba(var(--primary-rgb),0.1);
                    color: variables.$primary;
                }
                h6{
                    color: variables.$primary !important;  
                }
                .progress{
                    background-color: rgba(var(--primary-rgb),0.2); 
                    .progress-bar{
                        background-color: variables.$primary !important;
                    }
                }
                .outline{
                    border:1px solid rgba(var(--primary-rgb),0.2)  !important;
                    color:variables.$primary;
                }
            }
        }
        &.todo {
            .kanban-tasks .card {
                border: 1px solid rgba(var(--secondary-rgb),0.3);

                .badge {
                    background-color: rgba(var(--secondary-rgb),0.1);
                    color: variables.$secondary;
                }
                h6{
                    color: variables.$secondary !important;  
                }
                .progress{
                    background-color: rgba(var(--secondary-rgb),0.2); 
                    .progress-bar{
                        background-color: variables.$secondary !important;
                    }
                }
                .outline{
                    border:1px solid rgba(var(--secondary-rgb),0.2)  !important;
                    color:variables.$secondary;
                }
            }
        }
        &.in-progress {
            .kanban-tasks .card {
                border: 1px solid rgba(var(--info-rgb),0.3);

                .badge {
                    background-color: rgba(var(--info-rgb),0.1);
                    color: variables.$info;
                }
                h6{
                    color: variables.$info !important;  
                }
                .progress{
                    background-color: rgba(var(--info-rgb),0.2); 
                    .progress-bar{
                        background-color: variables.$info !important;
                    }
                }
                .outline{
                    border:1px solid rgba(var(--info-rgb),0.2)  !important;
                    color:variables.$info;
                }
            }
        }
        &.inreview {
            .kanban-tasks .card {
                border: 1px solid rgba(var(--danger-rgb),0.3);

                .badge {
                    background-color: rgba(var(--danger-rgb),0.1);
                    color: variables.$danger;
                }
                h6{
                    color: variables.$danger !important;  
                }
                .progress{
                    background-color: rgba(var(--danger-rgb),0.2); 
                    .progress-bar{
                        background-color: variables.$danger !important;
                    }
                }
                .outline{
                    border:1px solid rgba(var(--danger-rgb),0.2)  !important;
                    color:variables.$danger;
                }
            }
        }
        &.completed {
            .kanban-tasks .card {
                border: 1px solid rgba(var(--success-rgb),0.3);

                .badge {
                    background-color: rgba(var(--success-rgb),0.1);
                    color: variables.$success;
                }
                h6{
                    color: variables.$success !important;  
                }
                .progress{
                    background-color: rgba(var(--success-rgb),0.2); 
                    .progress-bar{
                        background-color: variables.$success !important;
                    }
                }
                .outline{
                    border:1px solid rgba(var(--success-rgb),0.2)  !important;
                    color:variables.$success;
                }
            }
        }
    }
    #new-tasks,#todo-tasks,#inprogress-tasks,#inreview-tasks,#completed-tasks {
        .card.custom-card:last-child {
            margin-bottom: 0;
        }
    }
    #new-tasks,#todo-tasks,#inprogress-tasks,#inreview-tasks,#completed-tasks {
        position: relative;
        max-height: 35rem;
        // .simplebar-content {
        //     padding: 0 1rem 0 0 !important;
        // }
    }
    .task-Null {
        position: relative;
        min-height: 12.5rem;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: variables.$custom-white;
            border-radius: 0.3rem;
            background-image: url(../images/media/media-72.png);
            background-size: cover;
            background-position: center;
            height: 12.5rem;
            width: 100%;
            margin: 0 auto;
        }
    }
    .view-more-button {
        margin-right: 1rem;
    }
}
/* end::task-kanboard-board */

/* Start::task-details */
.task-details-key-tasks {
    list-style-type:decimal;
    li {
        margin-bottom: 0.5rem;
        font-size: .875rem;
        color: variables.$text-muted;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.task-description {
    font-size: 0.875rem;
}
.task-details-progress {
    width: 6.25rem;
}
/* End::task-details */