.owl-nav .owl-prev {
    top: 50% !important;

}
.owl-nav .owl-next {
    top: 50% !important;

}
.owl-theme .owl-nav [class*=owl-] {
   
    background: rgb(0 0 0 / 0.3) !important;
   
}