 <!-- Start:: row-1 -->
 <div class="row">
    <div class="col-xxl-5">
        <div class="card custom-card overflow-hidden">
            <div class="card-body p-0">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <a [routerLink]="['/pages/blog/blog-details']" class="stretched-link"></a>
                    <div class="carousel-inner rounded-0 p-3 pb-0">
                        <owl-carousel-o [options]="customOptions" [dir]="customOptions.rtl ? 'rtl' : 'ltr'" >
                            @for(slide of slidesStore;track $index){

                                <ng-container >
                                  <ng-template carouselSlide>
                                    <!-- <div class="rtl:dir-rtl"> -->
                                        <div class="carousel-item active">
                                            <img  [src]="slide.src"  src="./assets/images/media/blog/1.jpg" class="d-block w-100" alt="...">
                                        </div>
                                    <!-- </div> -->
                                    </ng-template>
                                    </ng-container>
                            }
                               </owl-carousel-o>
                    </div>
                </div>
                <div class="p-4 pt-3">
                    <h5 class="fw-semibold mb-3"><a [routerLink]="['/pages/blog/blog-details']">Exploring the Evolution of
                            Digital Art</a></h5>
                    <p class="mb-3">Dive into the transformative journey of digital art, from its early
                        beginnings to its current prominence. This blog post explores how technology has
                        revolutionized artistic expression, featuring influential digital artists and
                        the tools shaping the future of creativity Discover how technology and art converge. <a href="javascript:void(0);"
                            class="fw-medium text-muted ms-2 align-middle fs-12 text-Augoration-underline">Read
                            More</a></p>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xs avatar-rounded me-2">
                                <img src="./assets/images/faces/11.jpg" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-medium">Alister Chuk</p>
                            </div>
                        </div>
                        <p class="text-muted fs-12 mb-0">18,Aug 2024 - 11:25</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-7">
        <div class="row">
            <div class="col-xl-7">
            @for(blog of Technologyblogs;track $index){
                <div class="card custom-card shadow-none">
                  <div class="row g-0">
                    <div class="col-sm-8">
                      <div class="card-body p-3">
                        <h6 class="fw-semibold">
                          <a href="javascript:void(0);">{{ blog.title }}</a>
                        </h6>
                        <span class="d-block mb-3">
                          {{ blog.description }}
                          <a href="{{ blog.readMoreLink }}" class="fw-medium text-muted ms-2 align-middle fs-12 text-Augoration-underline">Read More</a>
                        </span>
                        <div class="d-flex align-items-center gap-2 mb-3">
                          <span *ngFor="let tag of blog.tags" class="badge bg-light text-default rounded-pill">{{ tag }}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="avatar avatar-xs avatar-rounded me-2">
                              <img [src]="blog.authorImage" alt="">
                            </div>
                            <div>
                              <p class="mb-0 fw-medium">{{ blog.authorName }}</p>
                            </div>
                          </div>
                          <div class="text-muted fs-12 mb-0">{{ blog.postDate }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 p-3">
                      <img [src]="blog.postImageTop" class="img-fluid rounded h-100 w-100" alt="...">
                    </div>
                  </div>
                </div>
            }
            </div>
            <div class="col-xl-5">
                <div class="card custom-card overflow-hidden custom-category">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            CATEGORIES
                        </div>
                        <a href="javascript:void(0);" class="fs-13 text-muted"> View All<i
                                class="ti ti-arrow-narrow-right ms-1"></i> </a>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush list-style">
                            @for(category of categories;track $index){
                                <spk-blog-category-card
                                [icon]="category.icon"
                                [categoryName]="category.name"
                                [itemCount]="category.itemCount"
                                [badgeClass]="category.badgeClass">
                              </spk-blog-category-card>
                            }
                          </ul>
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            POPULAR TAGS
                        </div>
                        <a href="javascript:void(0);" class="fs-13 text-muted"> View All<i
                                class="ti ti-arrow-narrow-right ms-1"></i> </a>
                    </div>
                    <div class="card-body py-4">
                        <spk-tags [tags]="tags"></spk-tags>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @for (blog of DateFooterCard; track $index) {
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <spk-blog-image-card
    [title]="blog.title"
    [description]="blog.description"
    [readMoreLink]="blog.readMoreLink"
    [authorName]="blog.authorName"
    [authorImage]="blog.authorImage"
    [postDate]="blog.postDate"
    [postImageTop]="blog.postImageTop"
    [ImagePlacementTop]="blog.ImagePlacementTop"
    [dateFooterCard]="blog.dateFooterCard"
    >
  </spk-blog-image-card>
</div>
}
   
</div>
<!-- End:: row-1 -->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-6 col-xxl-3 col-lg-12 col-md-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="card-title">
                            Featured Blogs
                        </div>
                        <div>
                            <span class="badge bg-primary-transparent">32 Blogs</span>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-xl p-1 bg-gray-300">
                                        <img src="./assets/images/media/blog/14.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);"
                                            class="fs-14 fw-medium mb-0">Christopher Jack</a>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            There are many variations of passages of Lorem Ipsum
                                            available
                                        </p>
                                        <span class="text-muted fs-11">24,Jul 2024 - 18:27</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i
                                                class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-xl p-1 bg-gray-300">
                                        <img src="./assets/images/media/blog/15.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);"
                                            class="fs-14 fw-medium mb-0">Sophia Sam</a>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            Latin words, combined with a handful of model sentence
                                        </p>
                                        <span class="text-muted fs-11">28,Jul 2024 - 10:45</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i
                                                class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-xl p-1 bg-gray-300">
                                        <img src="./assets/images/media/blog/16.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);"
                                            class="fs-14 fw-medium mb-0">Anthony Karon</a>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            Ipsum omnis non fugit ad voluptate consequuntur, sed
                                            veritatis nesciunt, asperiores, provident temporibus!
                                        </p>
                                        <span class="text-muted fs-11">28,Sep 2024 - 08:32</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i
                                                class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-xl p-1 bg-gray-300">
                                        <img src="./assets/images/media/blog/17.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);"
                                            class="fs-14 fw-medium mb-0">Amelia Jackson</a>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            Contrary to popular belief, Lorem Ipsum is not simply random
                                        </p>
                                        <span class="text-muted fs-11">30,Jul 2024 - 08:32</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i
                                                class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-bottom-0">
                                <div class="d-flex flex-wrap align-items-center gap-3">
                                    <span class="avatar avatar-xl p-1 bg-gray-300">
                                        <img src="./assets/images/media/blog/18.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <a href="javascript:void(0);"
                                            class="fs-14 fw-medium mb-0">Matthew Stuart</a>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            It was popularised in the 1960s with the release of Letraset
                                            sheets containing
                                        </p>
                                        <span class="text-muted fs-11">3,Aug 2024 - 11:56</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-icon btn-light btn-sm rtl-rotate"><i
                                                class="ri-arrow-right-s-line"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 col-lg-12 col-md-12">
                @for (blog of blogs; track $index) {
            <spk-blog-image-card
            [title]="blog.title"
            [description]="blog.description"
            [readMoreLink]="blog.readMoreLink"
            [authorName]="blog.authorName"
            [authorImage]="blog.authorImage"
            [postDate]="blog.postDate"
            [postImageTop]="blog.postImageTop"
            [ImagePlacementTop]="blog.ImagePlacementTop"
            [wishlistFooterCard]="blog.wishlistFooterCard"
            >
          </spk-blog-image-card>
        }
          </div>
            <div class="col-xl-6 col-xxl-3 col-lg-12 col-md-12">
                @for (blog of blogs1; track $index) {
                    <spk-blog-image-card
                    [title]="blog.title"
                    [description]="blog.description"
                    [readMoreLink]="blog.readMoreLink"
                    [authorName]="blog.authorName"
                    [authorImage]="blog.authorImage"
                    [postDate]="blog.postDate"
                    [postImageTop]="blog.postImageTop"
                    [ImagePlacementBottom]="blog.ImagePlacementBottom"
                    [wishlistFooterCard]="blog.wishlistFooterCard"
                    >
                  </spk-blog-image-card>
                }
            </div>
            <div class="col-xl-6 col-xxl-3 col-lg-12 col-md-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="card-title">
                            Related Blogs
                        </div>
                        <a href="javascript:void(0);" class="fs-13 text-muted"> View All<i
                                class="ti ti-arrow-narrow-right ms-1"></i> </a>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-start gap-3">
                                    <span class="avatar avatar-xl avatar-rounded p-1 border">
                                        <img src="./assets/images/media/blog/14.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <a href="javascript:void(0);"
                                                class="fs-14 fw-medium mb-0">Christopher Jack</a>
                                            <a href="javascript:void(0);"
                                                class="text-primary text-decoration-underline">View
                                                All</a>
                                        </div>
                                        <p class="mb-1 popular-blog-content text-muted text-truncate">
                                            There are many variations of passages of Lorem Ipsum
                                            available
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span
                                                class="text-success badge bg-success-transparent">Music</span>
                                            <span class="text-muted fs-11">28,Jul 2024 - 10:45</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-start gap-3">
                                    <span class="avatar avatar-xl  avatar-rounded p-1 border">
                                        <img src="./assets/images/media/blog/15.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <a href="javascript:void(0);"
                                                class="fs-14 fw-medium mb-0">Sophia Sa</a>
                                            <a href="javascript:void(0);"
                                                class="text-primary text-decoration-underline">View
                                                All</a>
                                        </div>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            Latin words, combined with a handful of model sentence
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span
                                                class="text-primary badge bg-primary-transparent">Nature</span>
                                            <span class="text-muted fs-11">28,Jul 2024 - 10:45</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-start gap-3">
                                    <span class="avatar avatar-xl  avatar-rounded p-1 border">
                                        <img src="./assets/images/media/blog/16.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <a href="javascript:void(0);"
                                                class="fs-14 fw-medium mb-0">Anthony Karon</a>
                                            <a href="javascript:void(0);"
                                                class="text-primary text-decoration-underline">View
                                                All</a>
                                        </div>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            Ipsum omnis non fugit ad voluptate consequuntur, sed
                                            veritatis nesciunt, asperiores, provident temporibus!
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span
                                                class="text-secondary badge bg-secondary-transparent">Life
                                                Style</span>
                                            <span class="text-muted fs-11">28,Jul 2024 - 10:45</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap align-items-start gap-3">
                                    <span class="avatar avatar-xl  avatar-rounded p-1 border">
                                        <img src="./assets/images/media/blog/17.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <a href="javascript:void(0);"
                                                class="fs-14 fw-medium mb-0">Amelia Jackson</a>
                                            <a href="javascript:void(0);"
                                                class="text-primary text-decoration-underline">View
                                                All</a>
                                        </div>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            Contrary to popular belief, Lorem Ipsum is not simply random
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span
                                                class="text-primary badge bg-primary-transparent">Nature</span>
                                            <span class="text-muted fs-11">28,Jul 2024 - 10:45</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-bottom-0">
                                <div class="d-flex flex-wrap align-items-start gap-3">
                                    <span class="avatar avatar-xl  avatar-rounded p-1 border">
                                        <img src="./assets/images/media/blog/18.jpg" class="img-fluid"
                                            alt="...">
                                    </span>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <a href="javascript:void(0);"
                                                class="fs-14 fw-medium mb-0">Matthew Stuart</a>
                                            <a href="javascript:void(0);"
                                                class="text-primary text-decoration-underline">View
                                                All</a>
                                        </div>
                                        <p class="mb-1 popular-blog-content text-truncate">
                                            It was popularised in the 1960s with the release of Letraset
                                            sheets containing
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span
                                                class="text-success badge bg-success-transparent">Music</span>
                                            <span class="text-muted fs-11">28,Jul 2024 - 10:45</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" mb-3">
            <button class="btn mx-auto btn-primary-light btn-loader">
                <span class="me-2">Older Blogs</span>
                <span class="loading"><i class="ri-loader-4-line fs-16"></i></span>
            </button>
        </div>
    </div>
</div>
<!--End::row-2 -->