
                <!-- Start:: row-1 -->
                <div class="row">
                    <div class="col-xxl-7">
                        <div class="row">
                            @for(data of cardData;track $index){
                            <div class="col-xl-4">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <spk-dashboard-card 
                                        [title]="data.title"
                                        [value]="data.value"
                                        [linkText]="data.footerTitle"
                                        [percentageChange]="data.percentageChange"
                                        [textcolor]="data.textcolor"
                                        [Bgcolor]="data.Bgcolor"
                                        [direction]="data.direction"
                                        [icon]="sanitizeIcon(data.icon)"> <!-- Pass sanitized icon -->
                                      </spk-dashboard-card>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                    <div class="col-xxl-5">
                        <div class="row">
                            @for (stat of userStats; track $index) {
                            <div class="col-xl-6">
                              <div class="card custom-card overflow-hidden shadow-none">
                                <div class="card-body p-0">
                                  <div class="p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <div class="mb-3">
                                        <span class="d-block fw-medium fs-15">{{ stat.title }}</span>
                                      </div>
                                      <div>
                                        <span class="avatar bg-{{stat.bgColor}}-transparent">
                                          <i class="{{ stat.icon }} fs-5"></i>
                                        </span>
                                      </div>
                                    </div>
                                    <div>
                                      <p class="mb-0">
                                        <span class="fs-24 fw-medium">{{ stat.count }}</span>
                                      </p>
                                      <span class="text-muted">0.9% increased today</span>
                                    </div>
                                  </div>
                                  <div [attr.id]="stat.title.toLowerCase().replace(' ', '-')">
                                    <spk-apexcharts [chartOptions]="stat.chartOptions"></spk-apexcharts>
                                  </div>
                                </div>
                              </div>
                            </div>
                        }
                          </div>
                          
                    </div>
                </div>
                <!-- End:: row-1 -->

                <!-- Start:: row-2 -->
                <div class="row">
                    <div class="col-xxl-3">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Suggestions
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled social-suggestions-list border-0">
                                    @for (user of suggestions; track $index) {
                                        <spk-school-card 
                                        [title]="user.name" 
                                        [description]="user.mutualFriends" 
                                        [imageSrc]="user.avatar" 
                                        [shouldShowButton]="user.shouldShowButton"
                                        ></spk-school-card>
                                    }
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Audience Report
                                </div>  
                            </div>
                            <div class="card-body">
                                <div class="row gy-3">
                                    <div class="col-xl-4">
                                        <div class="p-3 text-default rounded border">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div>
                                                    <span class="d-block mb-1">Followers</span>
                                                    <h5 class="fw-semibold lh-1 mb-0">2.56M<span class="text-success fw-semibold fs-13 ms-2 d-inline-flex align-items-center">0.64%<i class="ri-arrow-up-s-line ms-1"></i></span></h5>
                                                </div>
                                                <div class="lh-1">
                                                    <span class="avatar avatar-md bg-light text-primary border">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M32,104H80a0,0,0,0,1,0,0V208a0,0,0,0,1,0,0H32a8,8,0,0,1-8-8V112A8,8,0,0,1,32,104Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M80,104l40-80a32,32,0,0,1,32,32V80h64a16,16,0,0,1,15.87,18l-12,96A16,16,0,0,1,204,208H80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="p-3 text-default rounded border">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div>
                                                    <span class="d-block mb-1">Amount Spent</span>
                                                    <h5 class="fw-semibold lh-1 mb-0">$14,642<span class="text-success fw-semibold fs-13 ms-2 d-inline-flex align-items-center">0.64%<i class="ri-arrow-up-s-line ms-1"></i></span></h5>
                                                </div>
                                                <div class="lh-1">
                                                    <span class="avatar avatar-md bg-light text-secondary border">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><line x1="128" y1="24" x2="128" y2="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="128" y1="208" x2="128" y2="232" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M184,88a40,40,0,0,0-40-40H112a40,40,0,0,0,0,80h40a40,40,0,0,1,0,80H104a40,40,0,0,1-40-40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="p-3 text-default rounded border">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div>
                                                    <span class="d-block mb-1">Reach</span>
                                                    <h5 class="fw-semibold lh-1 mb-0">12,326<span class="text-danger fw-semibold fs-13 ms-2 d-inline-flex align-items-center">5.31%<i class="ri-arrow-down-s-line ms-1"></i></span></h5>
                                                </div>
                                                <div class="lh-1">
                                                    <span class="avatar avatar-md bg-light text-success border">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="128" cy="96" r="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M32,216c19.37-33.47,54.55-56,96-56s76.63,22.53,96,56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="audience-report">
                                    <spk-apexcharts [chartOptions]="chartOptions2"></spk-apexcharts>
                                </div>                             
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Requests
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled social-requests-list">
                                    @for ( request of socialRequests; track $index) {
                                        <spk-school-card [svgBg]="request.bgClass" 
                                        [textTitle]="request.initials"
                                        [title]="request.name" 
                                        [description]="request.message"
                                        [dropdown]="request.dropdown"
                                        ></spk-school-card>
                                    }
                                </ul>                             
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-2 -->

                <!-- Start:: row-3 -->
                <div class="row">
                    <div class="col-xxl-3">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Audience Reached
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div id="audience-reached" class="p-3">
                                    <spk-apexcharts [chartOptions]="chartOptions3"></spk-apexcharts>
                                </div>
                                <div class="border-top">
                                    <ul class="list-group list-group-flush top-categories">
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="lh-1">
                                                    <div class="fw-semibold mb-1">Female</div>
                                                    <div><span class="text-muted fs-13">Increased by <span class="text-success fw-medium ms-1  d-inline-flex align-items-center">0.64%<i class="ti ti-trending-up ms-1"></i></span></span></div>
                                                </div>
                                                <div class="lh-1 text-end">
                                                    <span class="d-block fw-semibold h6 mb-0">1,200</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item rounded">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="lh-1">
                                                    <div class="fw-semibold mb-1">Male</div>
                                                    <div><span class="text-muted fs-13">Decreased by <span class="text-danger fw-medium ms-1  d-inline-flex align-items-center">2.75%<i class="ti ti-trending-down ms-1"></i></span></span></div>
                                                </div>
                                                <div class="lh-1 text-end">
                                                    <span class="d-block fw-semibold h6 mb-0">750</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-9">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Social Media Performance
                                </div>
                                <div class="d-flex flex-wrap gap-2"> 
                                    <div> 
                                        <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example"> 
                                    </div>
                                    <spk-dropdowns [Customclass]="'dropdown'"  [title]="'Sort By'"
                                    [class]="'btn btn-primary btn-sm btn-wave waves-effect waves-light no-caret'" [Icon]="true"
                                    [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'" [Menuclass]="'dropdown-menu'">
                                    <li><a class="dropdown-item" href="javascript:void(0);">New</a></li> 
                                    <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li> 
                                    <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li> 
                                </spk-dropdowns>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <spk-reusable-tables [columns]="socialMediaColumn" tableClass="table text-nowrap"  [showCheckbox]="false">
                                        @for(data of socialMediaData;track $index;let last = $last){ 
                                            <tr>
                                                <td>{{ data.date }}</td>
                                                <td>
                                                  <div class="d-flex align-items-center gap-2">
                                                    <span class="avatar avatar-sm {{data.avatarClass}}">
                                                      <i [class]="data.iconClass + ' fs-16'"></i>
                                                    </span>
                                                    <span class="fw-medium">{{ data.platform }}</span>
                                                  </div>
                                                </td>
                                                <td>{{ data.visits }}</td>
                                                <td>{{ data.likes }}</td>
                                                <td>{{ data.shares }}</td>
                                                <td><span class="badge {{data.avatarClass}}" >{{ data.impressions }}</span></td>
                                                <td>{{ data.ctr }}</td>
                                                <td>{{ data.reach }}</td>
                                                <td>{{ data.engagements }}</td>
                                              </tr>
                                        }
                                        </spk-reusable-tables>
                                </div>
                            </div>
                            <div class="card-footer border-top-0">
                                <div class="d-flex align-items-center">
                                    <div> Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-medium"></i> </div>
                                    <div class="ms-auto">
                                    <nav aria-label="Page navigation" class="pagination-style-4">
                                        <ul class="pagination mb-0">
                                            <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-3 -->