 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xxl-3 col-xl-4">
        <div class="card custom-card products-navigation-card">
            <div class="card-body p-0">
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-2">Categories</h6>
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" placeholder="Search" 
                         >
                    </div>
                    <div class="px-2 py-3 pb-0">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-1">
                            <label class="form-check-label" for="c-1">
                                Research & Developement
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-2">
                            <label class="form-check-label" for="c-2">
                                Accounting
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-3">
                            <label class="form-check-label" for="c-3">
                                Accounting
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-4">
                            <label class="form-check-label" for="c-4">
                                Administrative Support
                            </label>
                        </div>
                        <a href="javascript:void(0);" class="text-decoration-underline text-primary">View All</a>
                    </div>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-3">Availability</h6>
                    <spk-ng-select 
                    [options]="Availability"
                    [id]="'choices-single-default'"
                    [selectClass]="'seach-category'"
                    [clearable]="true"
                    [searchable]="true"
                    [hideSelected]="true"
                    [placeholder]="'Select Availability'"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-3">Bond Agreement</h6>
                    <spk-ng-select 
                    [options]="Agreement"
                    [id]="'choices-single-default'"
                    [selectClass]="'seach-category'"
                    [clearable]="true"
                    [searchable]="true"
                    [hideSelected]="true"
                    [placeholder]="'Select Bond'"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-0">Salary Range</h6>
                    <div class="px-2 py-3 pb-0">
                        <div id="nonlinear"></div>
                        <div class="d-flex flex-wrap mt-4">
                            <div class="fw-semibold mb-1 px-3 py-1 border rounded"><span id="lower-value">{{lowerValue}}</span></div>
                           <span class="fw-semibold mb-1 px-2 py-1">-</span>
                            <div class="fw-semibold mb-1 px-3 py-1 border rounded"><span id="upper-value">{{upperValue}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-3">Languages</h6>
                    <spk-ng-select 
                    [options]="Language"
                    [id]="'choices-single-default'"
                    [selectClass]="'seach-category'"
                    [clearable]="true"
                    [searchable]="true"
                    [hideSelected]="true"
                    [placeholder]="'Select Language'"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-3">Job Type</h6>
                    <spk-ng-select 
                    [options]="Employement"
                    [id]="'choices-single-default'"
                    [selectClass]="'seach-category'"
                    [clearable]="true"
                    [searchable]="true"
                    [hideSelected]="true"
                    [placeholder]="'Select Type'"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-3">Qualification</h6>
                    <spk-ng-select 
                    [options]="Qualification"
                    [id]="'choices-single-default'"
                    [selectClass]="'seach-category'"
                    [clearable]="true"
                    [searchable]="true"
                    [hideSelected]="true"
                    [placeholder]="'Select Qualification'"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                </div>
                <div class="p-4">
                    <h6 class="fw-semibold mb-3">Skills</h6>
                    <spk-ng-select 
                    [options]="Skills"
                    [id]="'choices-single-default'"
                    [selectClass]="'seach-category'"
                    [clearable]="true"
                    [searchable]="true"
                    [hideSelected]="true"
                    [placeholder]="'Select Skills'"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <button class="btn btn-primary-light me-2">Clear All</button>
                    <button class="btn btn-primary">Apply</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-9 col-xl-8">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="card custom-card border-0 shadow-none">
                    <div class="card-body p-md-0">
                         <div class="input-group companies-search-input">
                            <input type="text" class="form-control form-control-lg w-25" aria-label="Text input with segmented dropdown button" placeholder="Enter your keyword here">
                            <spk-ng-select 
                            [options]="Categories"
                            [selectClass]="''"
                            [clearable]="true"
                            [searchable]="true"
                            [hideSelected]="true"
                            [placeholder]="'All Categories'"
                            [additionalProperties]="{}">
                            </spk-ng-select>
                            <input type="text" class="form-control form-control-lg w-25" aria-label="Text input with segmented dropdown button" placeholder="Search by location">
                            <spk-ng-select 
                            [options]="Experiance"
                            [selectClass]="''"
                            [clearable]="true"
                            [searchable]="true"
                            [hideSelected]="true"
                            [placeholder]="'Freshers'"
                            [additionalProperties]="{}">
                            </spk-ng-select>
                            <button type="button" class="btn btn-lg btn-primary"><i class="ri-search-line"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap gap-2 align-items-center">
                            <h5 class="fw-medium mb-0 flex-grow-1">1287 <span class="fw-normal fs-18">Candidates match your job search</span> </h5>
                            <spk-dropdowns [Customclass]="'btn-group'" [title]="'Sort By'"
                        [class]="'btn btn-outline-light border dropdown-toggle'" [Icon]="true"
                         [Menuclass]="'dropdown-menu'">
                                    <li><a class="dropdown-item" href="javascript:void(0);">Premium</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Newest</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Most Relevant</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Fresher</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Experienced</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Bond Agreement</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Flexible Shift</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Day Shift</a></li>
                            </spk-dropdowns>
                        </div>
                    </div>
                </div>
            </div>
            @for (candidate of jobCandidates; track $index) {
  <div class="col-xl-6" >
    <div class="card custom-card">
      <div class="card-body">
        <div class="p-3 bg-light border border-bottom-0">
          <div class="btn-list float-end">
            <a href="javascript:void(0);" class="avatar avatar-rounded avatar-sm bg-primary text-fixed-white" data-bs-toggle="tooltip" placement="top" aria-label="Download Resume" ngbTooltip="Download Resume"><span><i class="ri-download-line fs-14"></i></span></a>
            <a href="javascript:void(0);" class="avatar avatar-rounded avatar-sm bg-primary-transparent border" data-bs-toggle="tooltip" placement="top" aria-label="Add to Wishlist" ngbTooltip="Add to Wishlist"><span><i class="ri-heart-3-{{candidate.heartBg}} fs-14"></i></span></a>
          </div>
          <div class="d-flex align-items-center flex-wrap gap-2">
            <div>
              <span class="avatar avatar-lg avatar-rounded">
                <img [src]="candidate.imageUrl" alt="{{ candidate.name }}">
              </span>
            </div>
            <div>
              <h5 class="fw-medium mb-0 d-flex align-items-center"><a [routerLink]="['/apps/jobs/candidate-details']">{{ candidate.name }}</a></h5>
              <div class="d-flex gap-2 flex-wrap">
                <a href="javascript:void(0);">{{ candidate.role }}</a>
                <p class="mb-0 fs-12 text-muted"><i class="bi bi-geo-alt fs-11"></i> {{ candidate.location }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3 border">
          <div class="d-flex align-items-center flex-wrap gap-3 mb-4">
            <p class="mb-0 flex-grow-1"><span class="text-muted">Package (Yearly) :</span> 
                <span class="fw-medium" data-bs-toggle="tooltip" ngbTooltip="Current"> {{ candidate.package.current }}</span> - <span class="fw-medium" data-bs-toggle="tooltip" ngbTooltip="Expected">{{ candidate.package.expected }}</span> 
            </p>
            <p class="mb-0"><span class="text-muted">Languages :</span> 
              <span class="fw-medium">{{ candidate.languages.join(', ') }}</span>
            </p>
          </div>
          <div class="d-flex align-items-center gap-3 flex-wrap">
            <h6 class="mb-0 fw-medium">Skills :</h6>
            <div class="popular-tags flex-grow-1">
                @for (skill of candidate.skills; track $index) {
              <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default me-1">{{ skill }}</a>
                }
              <a href="javascript:void(0);" class="badge rounded-pill bg-primary-transparent">More</a>
            </div>
            <div>
                <a href="javascript:void(0);" class="badge badge-md rounded-pill bg-{{candidate.bgcolor}}-transparent me-1" data-bs-toggle="tooltip" ngbTooltip="{{ candidate.bond }}"><i class="bi bi-hand-{{candidate.thumbs}}-up me-1"></i>{{ candidate.bond }}</a>
                <a href="javascript:void(0);" class="badge badge-md rounded-pill bg-{{candidate.bgcolor1}}-transparent me-1"><i class="bi bi-briefcase me-1"></i>{{ candidate.experience }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
} 
        </div>
        <ul class="pagination mb-4 justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);">
                    Prev
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item">
                <a class="page-link text-primary" href="javascript:void(0);">
                    next
                </a>
            </li>
        </ul>
    </div>
</div>
<!--End::row-1 -->