 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body p-3">
                <div class="d-flex justify-content-between align-items-center gy-2 flex-wrap">
                    <div class="mb-sm-0 mb-2">
                        <div class="d-flex">
                            <h5 class="fw-semibold mb-0"><span class="fw-normal">Showing</span> 3456
                                Items</h5>
                        </div>
                    </div>
                    <div class="custom-form-group mb-2 w-sm-50 w-100 mb-sm-0"> <input type="text"
                            class="form-control form-control-md py-2" placeholder="Search Product.."
                            aria-label="Search Hear.."> <button
                            class="btn btn-primary btn-sm border-0 custom-form-btn px-3" type="button">Search</button> </div>
                    <div class="text-sm-end text-start">
                        <div class="btn-group" ngbDropdown> <button ngbDropdownToggle class="btn btn-outline-light border dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"> <i class="ti ti-sort-descending-2 me-1"></i> Sort
                            By </button>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Date Published</a>  </li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Most Relevant</a>  </li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Price Low to High</a> </li>
                            <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0)">Price High to Low</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xxl-9">
        <div class="row">
            @for ( product of products; track $index) {
            <div class="col-xxl-3 col-lg-6 col-xl-4 col-sm-6">
              <spk-product-card [discount]="product.discount" [name]="product.name" [price]="product.price" [originalPrice]="product.originalPrice"
              [rating]="product.rating"  [ratingCount]="product.ratingCount"  [brand]="product.brand" [image]="product.image" [badgeClass]="product.badgeClass"
                ></spk-product-card>
            </div>
        }
        <div class="col-md-12"> <!-- Start::pagination --> 
            <nav aria-label="..." class=""> 
                <ul class="pagination justify-content-end mb-4"> 
                    <li class="page-item disabled"> <a class="page-link">Previous</a> 
                    </li> <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a> 
                    </li> <li class="page-item active" aria-current="page"> 
                        <a class="page-link" href="javascript:void(0)">2</a> 
                    </li> 
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a> 
                    </li> 
                    <li class="page-item"> 
                        <a class="page-link" href="javascript:void(0)">Next</a> 
                    </li> 
                </ul> 
            </nav> <!-- End::pagination --> </div>
    </div>
    </div>
    <div class="col-xxl-3">
        <div class="card custom-card products-navigation-card">
            <div class="card-body p-0">
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-2">Categories</h6>  
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            >
                    </div>
                    <div class="px-2 py-3 pb-0">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-1">
                            <label class="form-check-label" for="c-1">
                                All Items
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-2">
                            <label class="form-check-label" for="c-2">
                                Women
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-3">
                            <label class="form-check-label" for="c-3">
                                Men
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-4">
                            <label class="form-check-label" for="c-4">
                                Kids
                            </label>
                        </div>
                        <a href="javascript:void(0);" class="text-decoration-underline text-primary">View All</a>
                    </div>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-0">Price Range</h6>
                    <div class="px-2 py-3 pb-0">
                        <div id="nonlinear"></div>
                        <div class="d-flex mt-4 flex-wrap gap-2">
                          <div class="fw-semibold px-3 py-1 border rounded">
                            $<span id="lower-value">{{ lowerValue }}</span>
                          </div>
                          <span class="fw-semibold px-2 py-1">-</span>
                          <div class="fw-semibold px-3 py-1 border rounded">
                            $<span id="upper-value">{{ upperValue }}</span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-3">Sizes</h6>
                    <spk-ng-select 
                    [options]="Size"
                    [selectClass]="''"
                    [clearable]="true"
                    [searchable]="true"
                    [placeholder]="'Select Size'"
                    [hideSelected]="true"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                  
                </div>
                <div class="p-4 border-bottom">
                    <h6 class="fw-semibold mb-3">Brand</h6>
                    <spk-ng-select 
                    [options]="Brand"
                    [id]="'product-brand-add'"
                    [selectClass]="''"
                    [clearable]="true"
                    [searchable]="true"
                    [placeholder]="'Select Brand'"
                    [hideSelected]="true"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                 
                </div>
                <div class="p-4">
                    <h6 class="fw-semibold mb-3">Color</h6>
                    <div class="d-flex flex-wrap"> <button
                            class="btn bg-primary-transparent border border-primary color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-secondary-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-danger-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-warning-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-success-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-purple-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-teal-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-info-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> <button
                            class="btn bg-pink-transparent color-btn me-2 mb-1 d-flex align-items-center justify-content-center"><i
                                class="ri-circle-fill fs-12"></i></button> </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <button class="btn btn-secondary me-2 mb-2">Clear All</button>
                    <button class="btn btn-primary mb-2">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->